In [2]:
import sys
sys.path.append("..")
import pandas as pd
from utils.dataframe import GetDataFrame
from utils.analysis import Analysis

<h1 align="center",  style="background: CornflowerBlue; color:black">Analisís de Disney Plus Titles</h1>

In [3]:
# Usamos nuestro propio metodo estatico de la clase GetDataFrame para traer el dataframe
df = GetDataFrame.csv('desafio-rkd', 'disney_plus_titles')

 --- S3 -> Connected ---> disney_plus_titles.csv ----> To DF

In [4]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

<h3>
Vamos a hacer un primer acercamiento al dataframe, esto implica conocer sus columnas, 
el tipo de datos contenidos, conteo de nulos y valores unicos.
</h3>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [6]:
### Vemos columnas
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [7]:
### Conteo de nulos por columnas
df.isnull().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

<h3 style="font-family: Verdana, sans-serif">Muchos nulos en director, cast y country (es normal ya que no se consigue esa data en todas las peliculas tan facilmente).<br>
Ids, title y type estan ok.<br>
El resto de las columnas tienen una cantidad acorde de nulos.
</h3>

In [13]:
### Empezamos a ver los datos de cada columna
df['title'].sample(20)

310                                     Pixar Popcorn
15                                            Baymax!
229                       Wild Hearts Can't Be Broken
218                                        Fury Files
1064                                     Mary Poppins
1243           The Adventures of Ichabod and Mr. Toad
504                                 The Liberty Story
298                                  The Book of Life
915                                         Go Figure
764                                      Brother Bear
1436                        The Great Mouse Detective
398                               Disneynature Oceans
744     Beauty and the Beast: The Enchanted Christmas
155                                          Stuntman
958                    Ice Age: The Great Egg-Scapade
317                                         Ferdinand
623                                            Splash
875                                       Eight Below
149             Minnie's Bow-Toons: Party Palace Pals
671                                  The Proud Family
Name: title, dtype: object

In [14]:
df['show_id'].sample(20)

813      s814
355      s356
1418    s1419
462      s463
128      s129
1057    s1058
137      s138
814      s815
271      s272
199      s200
1097    s1098
1035    s1036
1092    s1093
870      s871
325      s326
1049    s1050
1060    s1061
385      s386
551      s552
735      s736
Name: show_id, dtype: object

In [17]:
### Type
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [62]:
# Validamos que los tipos sean correctos
df[df['type'] == 'Movie'][['title', 'director', 'duration']].sample(10)

,title,director,duration
1155,Recess: All Growed Down,"Howy Parkins, Chuck Sheetz",61 min
1074,Mickey's Christmas Carol,Burny Mattinson,26 min
461,Pirates of the Caribbean: Dead Men Tell No Tales,"Joachim Rønning, Espen Sandberg",129 min
70,Muppets Haunted Mansion,Kirk Thatcher,53 min
959,Ice Princess,Tim Fywell,99 min
585,Penguins: Life on the Edge,"Alastair Fothergill, Jeff Wilson",78 min
2,Ice Age: A Mammoth Christmas,Karen Disher,23 min
12,The Pixar Story,Leslie Iwerks,91 min
177,Shark Gangs,"Jacob Cobi Benattia, Pete Berg, James Buchanan",44 min
1268,"The Chronicles of Narnia: The Lion, the Witch and the Wardrobe",Andrew Adamson,147 min

In [69]:
### A simple vista parecen correctas, a series les faltan sus directores?
df[df['type'] == 'TV Show'][['title', 'director', 'duration']].sample(10)

,title,director,duration
394,The Right Stuff,NaN,1 Season
633,High School Musical: The Musical: The Series: The Sing-Along,NaN,1 Season
614,Star Wars Resistance,NaN,2 Seasons
222,Disney Special Agent Oso: Three Healthy Steps (Shorts),NaN,1 Season
58,PJ Masks,NaN,5 Seasons
162,Turner & Hooch,NaN,1 Season
299,The Muppet Show,NaN,5 Seasons
565,Paradise Islands,NaN,1 Season
1210,Star Wars Rebels (Shorts),NaN,1 Season
406,Coop & Cami Ask The World,NaN,2 Seasons

In [70]:
### Validamos esto 
df[(df['type'] == 'TV Show') & (df['director'].notnull())]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [31]:
### Director
df['director'].sample(20)

1387                   John Musker, Ron Clements
1150                                   Mira Nair
138                                 Lev L. Spiro
353                              Angela Affinita
1048                                 Jon Favreau
764                  Aaron Blaise, Robert Walker
834                                          NaN
275                                          NaN
695                                          NaN
1193                              Emile Ardolino
853                               Hamilton Luske
1133                              Gore Verbinski
1436    John Musker, Ron Clements, Dave Michener
1315                                Nancy Meyers
79                                           NaN
988                    Adam Stein, Zach Lipovsky
1447                             Dexter Fletcher
650                                John Lasseter
1209                                         NaN
285                                          NaN
Name: director, dtype: object

In [18]:
### Country
df['country'].unique()

array([nan, 'United States', 'United States, Canada',
       'United States, Australia', 'Canada',
       'United States, United Kingdom', 'United States, South Korea',
       'Ireland, United States, Canada, United Kingdom, Denmark, Spain, Poland, Hungary',
       'France, United Kingdom', 'United Kingdom, Australia',
       'Ireland, United States', 'Canada, United States, France',
       'France, South Korea, Japan, United States', 'France',
       'United States, United Kingdom, Hungary', 'United States, Germany',
       'United States, United Kingdom, Australia', 'United States, India',
       'United States, Canada, United Kingdom, Singapore, Australia, Thailand',
       'Canada, United States',
       'South Korea, United States, China, Japan',
       'Australia, United Kingdom', 'United Kingdom',
       'United States, United Kingdom, South Korea',
       'United States, United Kingdom, Canada',
       'United States, Germany, United Kingdom',
       'United States, Canada, Ireland', 'United States, Brazil',
       'United Kingdom, United States',
       'United Kingdom, United States, Canada, Ireland',
       'United States, United Kingdom, Belgium, Canada',
       'Austria, South Africa', 'United States, Japan',
       'United States, Spain', 'United Kingdom, United States, France',
       'United States, Canada, Hong Kong', 'Argentina',
       'United Arab Emirates', 'United States, Mexico',
       'France, Switzerland, Spain, United States, United Arab Emirates',
       'United Kingdom, France', 'Argentina, Mexico', 'India',
       'France, Japan', 'United Kingdom, Canada, United States',
       'United States, Ireland', 'France, United Kingdom, United States',
       'United Kingdom, United States, Canada',
       'United States, Germany, Ireland, United Kingdom',
       'United States, United Kingdom, South Africa',
       'United Kingdom, United States, Ireland', 'France, United States',
       'Ireland, United Kingdom, United States, South Korea, Canada',
       'United States, South Korea, France',
       'United States, Australia, France, Canada',
       'United States, Hungary, United Kingdom',
       'United States, Hong Kong, South Korea, France, Canada, China, United Kingdom, Australia, Japan, Taiwan, Philippines',
       'United States, Taiwan, South Korea, China, Japan, United Kingdom',
       'Germany, United States', 'United Kingdom, Germany',
       'United States, Philippines, South Korea',
       'United Kingdom, China, United States', 'Tanzania, United States',
       'United States, Panama, Mexico',
       'United States, United Kingdom, Australia, Canada',
       'United States, France',
       'United States, Angola, Botswana, Namibia, South Africa',
       'Canada, United States, United Kingdom, France, Luxembourg',
       'Australia, United States', 'United States, Denmark',
       'Denmark, China', 'United States, Guatemala',
       'United States, South Korea, Singapore, Russia, Malaysia, Kazakhstan, Taiwan, Hong Kong, Japan, China, India, Syria, Iran, Egypt, Pakistan',
       'United States, Canada, Australia',
       'United States, South Korea, China, Taiwan',
       'United States, Taiwan, China', 'United States, New Zealand',
       'Canada, Malaysia, United States',
       'United States, India, United Kingdom',
       'Norway, Sweden, United States', 'France, Canada, United States',
       'United States, Poland, Slovenia, Czech Republic, United Kingdom',
       'United States, Canada, Australia, Taiwan',
       'China, Hong Kong, United States',
       'Austria, United Kingdom, United States', 'China', 'Germany',
       'New Zealand, United States',
       'United States, Spain, France, Canada, United Kingdom',
       'United Kingdom, Germany, United States'], dtype=object)

In [19]:
### Estan en formato string, de los cuales tenemos muchos paises en un mismo string separados por coma.
### Vamos a modificar esto para que sean listas de paises y asi poder analizarlos de una manera mas limpia
import numpy as np
df_copy = df.copy()
df_copy['country'] = df_copy['country'].apply(lambda row: row.split(',') if type(row) != float else row)
df_copy['country'] = df_copy['country'].apply(lambda row: [country.strip() for country in row] if type(row) == list else row)

In [20]:
df_copy['country'].explode().unique()

array([nan, 'United States', 'Canada', 'Australia', 'United Kingdom',
       'South Korea', 'Ireland', 'Denmark', 'Spain', 'Poland', 'Hungary',
       'France', 'Japan', 'Germany', 'India', 'Singapore', 'Thailand',
       'China', 'Brazil', 'Belgium', 'Austria', 'South Africa',
       'Hong Kong', 'Argentina', 'United Arab Emirates', 'Mexico',
       'Switzerland', 'Taiwan', 'Philippines', 'Tanzania', 'Panama',
       'Angola', 'Botswana', 'Namibia', 'Luxembourg', 'Guatemala',
       'Russia', 'Malaysia', 'Kazakhstan', 'Syria', 'Iran', 'Egypt',
       'Pakistan', 'New Zealand', 'Norway', 'Sweden', 'Slovenia',
       'Czech Republic'], dtype=object)

In [21]:
### No se perdio información
### A su vez, vemos que no hay countries ilogicos o con caracteres raros
df_copy['country'].isnull().sum()

219

In [23]:
### Verificamos valores en rating
df['rating'].unique()

array(['TV-G', 'PG', 'TV-PG', nan, 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV'], dtype=object)

In [24]:
### Verificamos año
df['release_year'].unique()

array([2016, 1988, 2011, 2021, 2015, 2019, 2008, 2020, 2007, 2013, 2018,
       2014, 2012, 2006, 2010, 1996, 2009, 2017, 1993, 1994, 1998, 1989,
       1997, 2005, 2000, 2004, 1987, 1985, 1967, 1973, 1991, 1956, 1995,
       1984, 1974, 1959, 2003, 1976, 2001, 1990, 1992, 1952, 1955, 1977,
       1957, 1999, 1948, 1964, 1969, 1942, 1950, 1951, 1953, 1949, 1940,
       1946, 1954, 1936, 1944, 1935, 1939, 1975, 1978, 2002, 1971, 1961,
       1962, 1981, 1932, 1938, 1941, 1986, 1947, 1937, 1966, 1943, 1934,
       1980, 1960, 1983, 1972, 1982, 1979, 1928, 1965, 1970, 1963, 1933,
       1945, 1968], dtype=int64)

In [25]:
### Verificamos duration
df['duration'].unique()

array(['23 min', '91 min', '41 min', '1 Season', '94 min', '2 Seasons',
       '45 min', '59 min', '4 min', '10 Seasons', '2 min', '1 min',
       '8 min', '3 Seasons', '110 min', '11 min', '7 min', '95 min',
       '129 min', '14 min', '5 min', '134 min', '9 min', '30 min',
       '6 min', '22 min', '3 min', '87 min', '90 min', '93 min',
       '101 min', '132 min', '44 min', '131 min', '104 min', '5 Seasons',
       '52 min', '47 min', '53 min', '85 min', '92 min', '135 min',
       '4 Seasons', '105 min', '99 min', '32 Seasons', '88 min',
       '127 min', '106 min', '116 min', '42 min', '16 Seasons', '140 min',
       '19 Seasons', '66 min', '115 min', '137 min', '9 Seasons',
       '126 min', '82 min', '125 min', '54 min', '7 Seasons', '98 min',
       '102 min', '80 min', '170 min', '97 min', '112 min', '21 min',
       '20 min', '15 min', '19 min', '79 min', '6 Seasons', '89 min',
       '18 min', '81 min', '148 min', '121 min', '96 min', '109 min',
       '107 min', '86 min', '24 min', '8 Seasons', '12 min', '65 min',
       '48 min', '111 min', '43 min', '180 min', '182 min', '60 min',
       '50 min', '46 min', '123 min', '113 min', '117 min', '83 min',
       '103 min', '122 min', '72 min', '143 min', '84 min', '128 min',
       '138 min', '120 min', '118 min', '55 min', '56 min', '144 min',
       '33 min', '100 min', '160 min', '49 min', '152 min', '75 min',
       '108 min', '78 min', '119 min', '147 min', '142 min', '32 min',
       '31 min', '27 min', '77 min', '25 min', '74 min', '62 min',
       '71 min', '162 min', '73 min', '114 min', '10 min', '64 min',
       '51 min', '151 min', '76 min', '26 min', '130 min', '70 min',
       '13 min', '183 min', '150 min', '145 min', '67 min', '169 min',
       '61 min', '63 min', '124 min', '139 min', '136 min', '58 min',
       '69 min', '154 min', '175 min', '68 min'], dtype=object)

In [26]:
### Verificamos listed_in
df['listed_in'].unique()

array(['Animation, Family', 'Comedy', 'Animation, Comedy, Family',
       'Musical', 'Docuseries, Historical, Music',
       'Biographical, Documentary', 'Action-Adventure, Superhero',
       'Docuseries, Reality, Survival',
       'Animals & Nature, Docuseries, Family', 'Comedy, Family, Musical',
       'Documentary', 'Comedy, Family, Music', 'Documentary, Family',
       'Action-Adventure, Animals & Nature, Docuseries',
       'Animals & Nature', 'Animation', 'Animation, Kids',
       'Comedy, Coming of Age, Drama', 'Comedy, Family, Fantasy',
       'Animation, Comedy, Drama', 'Animation, Family, Fantasy',
       'Action-Adventure, Animation, Comedy', 'Comedy, Family',
       'Action-Adventure, Comedy, Family', 'Lifestyle', 'Movies',
       'Action-Adventure, Science Fiction',
       'Action-Adventure, Fantasy, Superhero', 'Coming of Age, Music',
       'Animation, Drama', 'Concert Film, Music',
       'Animation, Comedy, Coming of Age', 'Animation, Comedy',
       'Animation, Crime, Family', 'Science Fiction',
       'Action-Adventure, Fantasy', 'Comedy, Fantasy, Kids',
       'Action-Adventure, Comedy, Kids', 'Drama, Family, Fantasy',
       'Action-Adventure, Science Fiction, Superhero', 'Drama, Sports',
       'Comedy, Family, Sports', 'Action-Adventure, Animation, Kids',
       'Animals & Nature, Reality', 'Documentary, Historical',
       'Docuseries, Historical', 'Anthology, Comedy, Coming of Age',
       'Reality', 'Animals & Nature, Docuseries, Medical',
       'Animation, Coming of Age, Fantasy', 'Family, Variety',
       'Docuseries', 'Action-Adventure, Science Fiction, Spy/Espionage',
       'Animation, Buddy, Coming of Age',
       'Action-Adventure, Animation, Science Fiction',
       'Action-Adventure, Family, Fantasy', 'Animation, Family, Parody',
       'Animation, Fantasy, Kids', 'Family, Game Show / Competition',
       'Animals & Nature, Docuseries', 'Kids, Music',
       'Animation, Science Fiction',
       'Animation, Anthology, Science Fiction',
       'Animals & Nature, Docuseries, Reality',
       'Coming of Age, Drama, Romance',
       'Action-Adventure, Animation, Anime',
       'Comedy, Romance, Romantic Comedy', 'Animation, Fantasy, Musical',
       'Animals & Nature, Documentary',
       'Action-Adventure, Animation, Fantasy',
       'Comedy, Coming of Age, Family',
       'Action-Adventure, Family, Science Fiction', 'Crime, Drama',
       'Comedy, Drama, Romance', 'Family, Music, Variety',
       'Comedy, Drama, Thriller', 'Action-Adventure, Family, Parody',
       'Animation, Kids, Police/Cop', 'Comedy, Family, Science Fiction',
       'Action-Adventure, Animation, Anthology', 'Comedy, Drama',
       'Animation, Anthology, Family', 'Animation, Buddy, Comedy',
       'Animation, Buddy, Kids', 'Talk Show',
       'Animals & Nature, Biographical, Documentary',
       'Docuseries, Family', 'Action-Adventure, Buddy, Comedy',
       'Animals & Nature, Drama, Family', 'Comedy, Coming of Age',
       'Animals & Nature, Coming of Age, Drama', 'Animation, Fantasy',
       'Action-Adventure, Docuseries, Reality', 'Animation, Kids, Sports',
       'Animation, Comedy, Fantasy', 'Comedy, Sports',
       'Action-Adventure, Comedy, Coming of Age',
       'Action-Adventure, Reality, Survival', 'Action-Adventure, Family',
       'Animation, Kids, Western', 'Action-Adventure, Animation, Family',
       'Biographical, Coming of Age, Family',
       'Action-Adventure, Comedy, Spy/Espionage',
       'Action-Adventure, Fantasy, Science Fiction',
       'Action-Adventure, Docuseries, Lifestyle',
       'Action-Adventure, Drama, Historical', 'Animation, Dance, Family',
       'Drama', 'Coming of Age, Drama', 'Coming of Age, Fantasy',
       'Fantasy', 'Animation, Superhero',
       'Animals & Nature, Animation, Kids',
       'Action-Adventure, Family, Game Show / Competition',
       'Biographical, Drama', 'Animation, Comedy, Parody',
       'Anthology, Science Fiction', 'Fantasy, Musical',
       'Biographical, Documentary, Music', 'Musical, Romance, Western',
       'Action-Adventure, Comedy, Crime', 'Comedy, Coming of Age, Kids',
       'Comedy, Drama, Sports', 'Animals & Nature, Anthology',
       'Action-Adventure, Coming of Age, Family',
       'Action-Adventure, Animals & Nature, Drama', 'Family, Kids',
       'Action-Adventure, Animation', 'Comedy, Coming of Age, Crime',
       'Biographical, Coming of Age, Drama',
       'Action-Adventure, Biographical, Drama',
       'Animation, Kids, Musical', 'Action-Adventure, Fantasy, Survival',
       'Series', 'Animals & Nature, Comedy', 'Comedy, Reality',
       'Action-Adventure, Buddy, Science Fiction',
       'Animation, Kids, Medical', 'Anthology, Docuseries',
       'Comedy, Family, Kids', 'Buddy, Comedy, Docuseries',
       'Game Show / Competition, Sports, Variety',
       'Comedy, Docuseries, Family', 'Comedy, Fantasy',
       'Animation, Comedy, Kids', 'Family, Fantasy, Mystery', 'Variety',
       'Comedy, Family, Variety', 'Anthology, Documentary',
       'Family, Fantasy, Musical', 'Drama, Fantasy, Mystery',
       'Family, Game Show / Competition, Reality',
       'Action-Adventure, Docuseries, Fantasy',
       'Action-Adventure, Docuseries, Family',
       'Action-Adventure, Fantasy, Musical', 'Fantasy, Variety',
       'Drama, Music, Romance', 'Biographical, Drama, Sports',
       'Action-Adventure, Coming of Age, Drama',
       'Action-Adventure, Fantasy, Soap Opera / Melodrama',
       'Animals & Nature, Kids, Music', 'Documentary, Music',
       'Coming of Age, Drama, Music',
       'Action-Adventure, Animation, Buddy', 'Comedy, Variety',
       'Docuseries, Reality', 'Biographical, Drama, Music',
       'Animals & Nature, Documentary, Survival', 'Drama, Historical',
       'Animals & Nature, Documentary, Family', 'Drama, Music',
       'Biographical, Drama, Family', 'Anthology, Docuseries, Family',
       'Drama, Romance', 'Docuseries, Historical, Reality',
       'Documentary, Sports', 'Comedy, Drama, Family',
       'Comedy, Parody, Science Fiction',
       'Animals & Nature, Kids, Variety', 'Animation, Kids, Music',
       'Coming of Age, Fantasy, Musical',
       'Action-Adventure, Comedy, Science Fiction',
       'Animals & Nature, Docuseries, Kids', 'Docuseries, Kids',
       'Animals & Nature, Family, Reality', 'Dance, Music, Musical',
       'Comedy, Family, Lifestyle', 'Buddy, Docuseries',
       'Documentary, Family, Historical', 'Coming of Age, Drama, Family',
       'Historical, Musical', 'Action-Adventure, Crime, Science Fiction',
       'Biographical, Historical, Musical',
       'Comedy, Coming of Age, Music', 'Animation, Documentary, Family',
       'Action-Adventure, Animation, Coming of Age', 'Comedy, Kids',
       'Action-Adventure, Crime, Fantasy',
       'Comedy, Coming of Age, Medical', 'Drama, Family, Historical',
       'Animals & Nature, Comedy, Family',
       'Coming of Age, Fantasy, Mystery', 'Crime, Drama, Mystery',
       'Animation, Comedy, Crime', 'Comedy, Musical, Romance',
       'Action-Adventure, Docuseries, Historical',
       'Action-Adventure, Animals & Nature, Family',
       'Animation, Family, Sports', 'Action-Adventure, Mystery, Thriller',
       'Docuseries, Family, Game Show / Competition',
       'Concert Film, Music, Musical', 'Animals & Nature, Family',
       'Comedy, Coming of Age, Romance', 'Animation, Family, Historical',
       'Coming of Age, Drama, Musical',
       'Action-Adventure, Disaster, Drama',
       'Action-Adventure, Animation, Musical',
       'Docuseries, Family, Lifestyle', 'Comedy, Fantasy, Romance',
       'Comedy, Coming of Age, Fantasy', 'Buddy, Comedy, Drama',
       'Animation, Family, Romance',
       'Coming of Age, Drama, Science Fiction',
       'Biographical, Comedy, Family', 'Animals & Nature, Family, Sports',
       'Action-Adventure, Animation, Superhero',
       'Docuseries, Science Fiction', 'Coming of Age, Documentary, Drama',
       'Action-Adventure, Comedy, Fantasy',
       'Action-Adventure, Documentary, Historical',
       'Buddy, Docuseries, Lifestyle', 'Concert Film, Family, Fantasy',
       'Animation, Comedy, Dance',
       'Action-Adventure, Animals & Nature, Documentary',
       'Coming of Age, Drama, Sports', 'Drama, Family',
       'Drama, Family, Musical', 'Animation, Drama, Family',
       'Animation, Drama, Kids', 'Animation, Anthology, Fantasy',
       'Buddy, Comedy, Coming of Age', 'Animation, Family, Kids',
       'Animation, Coming of Age, Family', 'Buddy, Coming of Age, Drama',
       'Coming of Age, Docuseries, Family',
       'Coming of Age, Music, Musical',
       'Comedy, Coming of Age, Science Fiction', 'Drama, Family, Mystery',
       'Animation, Comedy, Disaster', 'Sports',
       'Comedy, Family, Game Show / Competition', 'Comedy, Mystery',
       'Family, Fantasy, Romance', 'Action-Adventure, Family, Historical',
       'Documentary, Family, Reality', 'Buddy, Comedy, Family',
       'Anthology, Family, Lifestyle', 'Animation, Anthology, Comedy',
       'Animation, Kids, Parody', 'Fantasy, Musical, Thriller',
       'Family, Lifestyle, Reality', 'Documentary, Family, Variety',
       'Biographical, Sports', 'Docuseries, Family, Medical',
       'Comedy, Coming of Age, Sports', 'Action-Adventure, Crime, Family',
       'Music, Reality', 'Drama, Parody, Science Fiction',
       'Action-Adventure, Documentary, Sports', 'Drama, Mystery',
       'Coming of Age, Sports', 'Coming of Age, Dance, Drama',
       'Animation, Family, Music',
       'Animals & Nature, Docuseries, Survival',
       'Concert Film, Documentary, Music',
       'Comedy, Family, Romantic Comedy',
       'Coming of Age, Musical, Romance', 'Coming of Age, Musical',
       'Coming of Age, Family, Musical',
       'Animals & Nature, Comedy, Coming of Age',
       'Biographical, Family, Sports', 'Comedy, Science Fiction',
       'Animals & Nature, Documentary, Medical',
       'Coming of Age, Dance, Sports', 'Action-Adventure, Coming of Age',
       'Animation, Family, Musical',
       'Action-Adventure, Documentary, Superhero', 'Buddy, Comedy',
       'Drama, Historical, Sports', 'Action-Adventure, Documentary',
       'Anthology, Comedy, Kids', 'Drama, Fantasy',
       'Action-Adventure, Animals & Nature, Comedy', 'Kids',
       'Animals & Nature, Animation, Family', 'Anthology, Comedy, Family',
       'Animals & Nature, Coming of Age, Family', 'Family, Fantasy',
       'Buddy, Family, Sports', 'Biographical, Drama, Historical',
       'Animals & Nature, Biographical, Drama', 'Comedy, Crime, Family',
       'Animation, Buddy, Family', 'Fantasy, Kids, Mystery',
       'Action-Adventure, Family, Survival', 'Action-Adventure, Western',
       'Buddy, Coming of Age, Family', 'Comedy, Family, Western',
       'Action-Adventure, Science Fiction, Thriller',
       'Animation, Anthology, Kids', 'Action-Adventure, Family, Western',
       'Crime, Drama, Family', 'Comedy, Crime, Science Fiction',
       'Comedy, Music', 'Action-Adventure, Comedy',
       'Animation, Drama, Fantasy', 'Comedy, Family, Romance',
       'Action-Adventure, Drama, Family',
       'Biographical, Family, Historical', 'Buddy, Comedy, Romance',
       'Action-Adventure, Family, Mystery',
       'Coming of Age, Drama, Fantasy', 'Comedy, Crime, Fantasy',
       'Action-Adventure, Coming of Age, Fantasy',
       'Animals & Nature, Docuseries, Travel',
       'Coming of Age, Musical, Science Fiction',
       'Animation, Family, Mystery', 'Biographical, Comedy, Drama',
       'Action-Adventure, Animals & Nature, Animation'], dtype=object)

In [27]:
### Nuevamente, tenemos muchos generos que estan juntos en un string, estaria bueno estandarizar/homogeneizar esto en listas
import re
df_copy['listed_in'] = df_copy['listed_in'].apply(lambda row: re.split(',|&', row) if type(row) != float else row)
df_copy['listed_in'] = df_copy['listed_in'].apply(lambda row: [genre.strip() for genre in row] if type(row) == list else row)

In [28]:
### Genres en general parecen estar OK!
df_copy['listed_in'].explode().unique()

array(['Animation', 'Family', 'Comedy', 'Musical', 'Docuseries',
       'Historical', 'Music', 'Biographical', 'Documentary',
       'Action-Adventure', 'Superhero', 'Reality', 'Survival', 'Animals',
       'Nature', 'Kids', 'Coming of Age', 'Drama', 'Fantasy', 'Lifestyle',
       'Movies', 'Science Fiction', 'Concert Film', 'Crime', 'Sports',
       'Anthology', 'Medical', 'Variety', 'Spy/Espionage', 'Buddy',
       'Parody', 'Game Show / Competition', 'Romance', 'Anime',
       'Romantic Comedy', 'Thriller', 'Police/Cop', 'Talk Show',
       'Western', 'Dance', 'Series', 'Mystery', 'Soap Opera / Melodrama',
       'Disaster', 'Travel'], dtype=object)

<h2 align="center",  style="background: salmon; color:black">Primeras conclusiones</h2><br>
<h4>A comparación de Netflix, a primera vista, parece ser que no hay registros con data erronea en alguno de sus campos.<br>
Todos los contenidos que son Series no tienen director<br><br>
Vemos, que se necesita estandarizar un poco más la mayoria de las columnas, por ejemplo, la columna duración solo deberia ser un dato tipo entero, y en el caso de que sea serie setearse a None, aca podria incluirse otra columna llamada Seasons la cual describiria la cantidad de temporadas que contiene una serie (en movies iria None). Directors, Cast, Country, ListedIn deberian ir estar en formato lista compuestas unicamente por elementos, ejemplo:<br><br>
    director = ['nombre1', 'nombre2']<br>
    cast = ['nombre1', 'nombre2']<br>
    country = ['pais1', 'pais2']<br>
    listed_in = ['genero1', 'genero2']<br><br>
Esto nos ordenaria aun más las columnas, limpiandolas de caracteres como (,|&|etc). Countries podrian ir en codigo ISO en vez de ir completos.<br>

In [32]:
### Vamos a seguir un poco con caracteres especiales
### titles
pd.options.display.max_colwidth = 10000
special_characters.append('\n')
special_characters.append('\t')
special_characters.append('\r')

for character in special_characters:
    special = df[df['title'].str.contains(character, regex=False) == True]
    print(f'\nCHARACTER {character}', '\n\n', special['title'])

CHARACTER !

 15                                                              Baymax!
22                                                         Get a Horse!
68                                  Just Roll With It: You Decide Live!
138                          Beverly Hills Chihuahua 3: Viva La Fiesta!
171                                                          So Random!
221                                                   Schoolhouse Rock!
239                                                           Oklahoma!
252                                                        Future-Worm!
322                                      Dr. Seuss' Horton Hears a Who!
385                                                Toy Story of Terror!
438                                                     Weird But True!
470                              Super Robot Monkey Team Hyperforce Go!
523                                                       Hello, Dolly!
602                         Disney Vampirina Ghoul Girls Rock! (Shorts)
666                                  Marvel 75 Years: From Pulp to Pop!
692                                    Incredible! The Story of Dr. Pol
702     The Wonderful World of Disney Presents The Little Mermaid Live!
705                                             Happy Birthday, Mickey!
723                                                  Alley Cats Strike!
763                                                              Brink!
879                                                             Encore!
918                                  Good Luck Charlie, It's Christmas!
982                                                            Jump In!
1222                                                  Stitch! The Movie
1238                                                     That Darn Cat!
1421                                                          You Wish!
Name: title, dtype: object

CHARACTER "

 230    Maggie Simpson in "The Force Awakens from its Nap"
517               Maggie Simpson in "The Longest Daycare"
564             Maggie Simpson in "Playdate with Destiny"
Name: title, dtype: object

CHARACTER #

 Series([], Name: title, dtype: object)

CHARACTER $

 Series([], Name: title, dtype: object)

CHARACTER %

 Series([], Name: title, dtype: object)

CHARACTER &

 45                    Prep & Landing: Operation Secret Santa
76      Drain The Oceans: The Mississippi River & Arctic War
107                  Miraculous: Tales Of Ladybug & Cat Noir
162                                           Turner & Hooch
272                                          Gnomeo & Juliet
297                                          Flora & Ulysses
302                       Rodgers & Hammerstein's Cinderella
360                                    Planes: Fire & Rescue
372                                            Goldie & Bear
374                                           Prep & Landing
375                         Prep & Landing: Naughty vs. Nice
389       Marvel's Iron Man & Captain America: Heroes United
406                                Coop & Cami Ask The World
506                                          Walt & El Grupo
512       Percy Jackson & The Olympians: The Lightning Thief
543                                              Love & Vets
619                  Marvel's Iron Man & Hulk: Heroes United
646                                            Austin & Ally
725                                   America's Heart & Soul
799                       Coop & Cami Ask The World (Shorts)
802                                        Crash & Bernstein
808                                              Day & Night
882                    Expedition Mars: Spirit & Opportunity
910                                            George & A.J.
1014                                          Leroy & Stitch
1020                                           Lilo & Stitch
1021                    Lilo & Stitch 2: Stitch Has a Glitch
1062                        Marvel's Rocket & Groot (Shorts)
1101                                My Friends Tigger & Pooh
1109                                        Oliver & Company
1232                                           Tarzan & Jane
1240                      The Adventures of André & Wally B.
1343                           The Suite Life of Zack & Cody
1369                                          Timon & Pumbaa
Name: title, dtype: object

CHARACTER '

 54                           Bob Ballard: An Explorer's Life
67                      Zombies: Addison's Moonstone Mystery
69                              Mickey's Tale of Two Witches
86                                   Disney's Magic Bake-Off
101     Disney's Broadway Hits at London's Royal Albert Hall
                                ...
1299                  The Little Mermaid:  Ariel's Beginning
1403                            Whispers: An Elephant's Tale
1415                                   World's Greatest Dogs
1430                                      Blackbeard's Ghost
1433                Lady and the Tramp II: Scamp's Adventure
Name: title, Length: 163, dtype: object

CHARACTER (

 160                                        Meet Spidey and His Amazing Friends (Shorts)
215                                                               The Little Prince(ss)
222                              Disney Special Agent Oso: Three Healthy Steps (Shorts)
287                                                        Disney Roll It Back (Shorts)
371                                                                Fancy Nancy (Shorts)
427                               Disney Junior T.O.T.S.: Calling All T.O.T.S. (Shorts)
462                                                                   PJ Masks (Shorts)
494                                                             101 Dalmatians (Series)
530                                       Star Wars: The Rise of Skywalker (Episode IX)
558        Disney Mickey and the Roadster Racers - Chip 'N' Dale's Nutty Tales (Shorts)
563                                        Disney Playtime with Puppy Dog Pals (Shorts)
602                                         Disney Vampirina Ghoul Girls Rock! (Shorts)
637                                                Muppet Babies Show and Tell (Shorts)
644                                                                      Aladdin (2019)
675                                             Star Wars: The Last Jedi (Episode VIII)
684                                                          One Day at Disney (Shorts)
700                                                                   Coco (in Spanish)
718                                                                      Aladdin (1992)
749                                                            Big City Greens (Shorts)
751                                                      Big Hero 6 The Series (Shorts)
799                                                  Coop & Cami Ask The World (Shorts)
820                                            Disney Descendants Wicked World (Shorts)
821                                                           Disney DuckTales (Shorts)
827                                                       Disney Gravity Falls (Shorts)
836                                                  Disney Minnie's Bow-Toons (Shorts)
838                                      Disney Take Two With Phineas And Ferb (Shorts)
852                                                Disney's The Little Mermaid (Series)
853     Disneyland Around the Seasons (Walt Disney's Wonderful World of Color: 1961-69)
876                                                            Elena of Avalor (Shorts)
885                                                             Fantastic Four (Series)
899                                                               Frankenweenie (Short)
968                                                                   Iron Man (Series)
1000                                       LEGO Disney Frozen: Northern Lights (Shorts)
1002                                                 LEGO Star Wars: All Stars (Shorts)
1004                                          LEGO Star Wars: Resistance Rises (Shorts)
1006                                  LEGO Star Wars: The Freemaker Adventures (Shorts)
1033                                                 Marvel Rising: Initiation (Shorts)
1055                                                          Marvel's Ant-Man (Shorts)
1057                                            Marvel's Avengers: Secret Wars (Shorts)
1058                                          Marvel's Guardians of the Galaxy (Series)
1059                                          Marvel's Guardians of the Galaxy (Shorts)
1062                                                   Marvel's Rocket & Groot (Shorts)
1070                                                              Mickey Mouse (Shorts)
1071                                                        Mickey Mouse Club (1955-59)
1097                                                            Muppet Moments (Shorts)
1204                                                                Spider-Man (Shorts)
1208                                               Star Wars Forces of Destiny (Shorts)
1210                                                          Star Wars Rebels (Shorts)
1211                                                 Star Wars: A New Hope (Episode IV)
1212                                       Star Wars: Attack of the Clones (Episode II)
1214                                         Star Wars: Return of the Jedi (Episode VI)
1215                                       Star Wars: Revenge of the Sith (Episode III)
1216                                     Star Wars: The Empire Strikes Back (Episode V)
1217                                         Star Wars: The Force Awakens (Episode VII)
1218                                          Star Wars: The Phantom Menace (Episode I)
1304                                                                The Love Bug (1969)
1311                                                               The Muppets (Series)
1316                                                             The Parent Trap (1961)
1318                                     The Plausible Impossible (Disneyland: 1954-58)
Name: title, dtype: object

CHARACTER )

 160                                        Meet Spidey and His Amazing Friends (Shorts)
215                                                               The Little Prince(ss)
222                              Disney Special Agent Oso: Three Healthy Steps (Shorts)
287                                                        Disney Roll It Back (Shorts)
371                                                                Fancy Nancy (Shorts)
427                               Disney Junior T.O.T.S.: Calling All T.O.T.S. (Shorts)
462                                                                   PJ Masks (Shorts)
494                                                             101 Dalmatians (Series)
530                                       Star Wars: The Rise of Skywalker (Episode IX)
558        Disney Mickey and the Roadster Racers - Chip 'N' Dale's Nutty Tales (Shorts)
563                                        Disney Playtime with Puppy Dog Pals (Shorts)
602                                         Disney Vampirina Ghoul Girls Rock! (Shorts)
637                                                Muppet Babies Show and Tell (Shorts)
644                                                                      Aladdin (2019)
675                                             Star Wars: The Last Jedi (Episode VIII)
684                                                          One Day at Disney (Shorts)
700                                                                   Coco (in Spanish)
718                                                                      Aladdin (1992)
749                                                            Big City Greens (Shorts)
751                                                      Big Hero 6 The Series (Shorts)
799                                                  Coop & Cami Ask The World (Shorts)
820                                            Disney Descendants Wicked World (Shorts)
821                                                           Disney DuckTales (Shorts)
827                                                       Disney Gravity Falls (Shorts)
836                                                  Disney Minnie's Bow-Toons (Shorts)
838                                      Disney Take Two With Phineas And Ferb (Shorts)
852                                                Disney's The Little Mermaid (Series)
853     Disneyland Around the Seasons (Walt Disney's Wonderful World of Color: 1961-69)
876                                                            Elena of Avalor (Shorts)
885                                                             Fantastic Four (Series)
899                                                               Frankenweenie (Short)
968                                                                   Iron Man (Series)
1000                                       LEGO Disney Frozen: Northern Lights (Shorts)
1002                                                 LEGO Star Wars: All Stars (Shorts)
1004                                          LEGO Star Wars: Resistance Rises (Shorts)
1006                                  LEGO Star Wars: The Freemaker Adventures (Shorts)
1033                                                 Marvel Rising: Initiation (Shorts)
1055                                                          Marvel's Ant-Man (Shorts)
1057                                            Marvel's Avengers: Secret Wars (Shorts)
1058                                          Marvel's Guardians of the Galaxy (Series)
1059                                          Marvel's Guardians of the Galaxy (Shorts)
1062                                                   Marvel's Rocket & Groot (Shorts)
1070                                                              Mickey Mouse (Shorts)
1071                                                        Mickey Mouse Club (1955-59)
1097                                                            Muppet Moments (Shorts)
1204                                                                Spider-Man (Shorts)
1208                                               Star Wars Forces of Destiny (Shorts)
1210                                                          Star Wars Rebels (Shorts)
1211                                                 Star Wars: A New Hope (Episode IV)
1212                                       Star Wars: Attack of the Clones (Episode II)
1214                                         Star Wars: Return of the Jedi (Episode VI)
1215                                       Star Wars: Revenge of the Sith (Episode III)
1216                                     Star Wars: The Empire Strikes Back (Episode V)
1217                                         Star Wars: The Force Awakens (Episode VII)
1218                                          Star Wars: The Phantom Menace (Episode I)
1304                                                                The Love Bug (1969)
1311                                                               The Muppets (Series)
1316                                                             The Parent Trap (1961)
1318                                     The Plausible Impossible (Disneyland: 1954-58)
Name: title, dtype: object

CHARACTER *

 Series([], Name: title, dtype: object)

CHARACTER +

 26    Marvel Studios’ 2021 Disney+ Day Special
30              Pixar 2021 Disney+ Day Special
Name: title, dtype: object

CHARACTER ,

 13                                               Dr. Oakley, Yukon Vet
55                                                      McFarland, USA
112                                             Doogie Kamealoha, M.D.
113                                              Mira, Royal Detective
173               Miraculous World: Shanghai, The Legend of Ladydragon
183                                   The Good, The Bart, and The Loki
193                                                Heartland Docs, DVM
335                          Miraculous World: New York, United Heroez
351        Alexander and the Terrible, Horrible, No Good, Very Bad Day
426                                          Weirdest, Bestest, Truest
523                                                      Hello, Dolly!
581                                         Lambert, The Sheepish Lion
622                                                  My Dog, the Thief
705                                            Happy Birthday, Mickey!
712                                       20,000 Leagues Under the Sea
807                           Davy Crockett, King of the Wild Frontier
867                                               Dr. T, Lone Star Vet
918                                 Good Luck Charlie, It's Christmas!
946                                           Honey, I Blew Up the Kid
947                                           Honey, I Shrunk the Kids
948                                         Honey, We Shrunk Ourselves
1072                       Mickey, Donald, Goofy: The Three Musketeers
1091                                                    Monsters, Inc.
1175                                           Sammy, The Way-Out Seal
1268    The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
1398                                                   Up, Up and Away
Name: title, dtype: object

CHARACTER -

 27                                 Obi-Wan Kenobi
31      Shang-Chi and The Legend of The Ten Rings
50                             X-Men: First Class
86                        Disney's Magic Bake-Off
117                           X-Men: Dark Phoenix
                          ...
1416                               Wreck-It Ralph
1417                             X-Men: Evolution
1423                                Z-O-M-B-I-E-S
1440                               Disney Mech-X4
1445                     X-Men Origins: Wolverine
Name: title, Length: 61, dtype: object

CHARACTER .

 13                                      Dr. Oakley, Yukon Vet
59                                   The Wild Life of Dr. Ole
112                                    Doogie Kamealoha, M.D.
115                                    The Incredible Dr. Pol
125                                  Dr. K's Exotic Animal ER
136                                               What If...?
140                                            Mrs. Doubtfire
147                                    Disney Junior T.O.T.S.
153                                          Shark vs. Surfer
154                                           Shark vs. Whale
174                                      Orca vs. Great White
235                                              22 vs. Earth
322                            Dr. Seuss' Horton Hears a Who!
346                                             Man vs. Shark
373                                                 Mr. Magoo
375                          Prep & Landing: Naughty vs. Nice
397                                        Mr. Holland's Opus
427     Disney Junior T.O.T.S.: Calling All T.O.T.S. (Shorts)
459                   Surviving the Mount St. Helens Disaster
487                                        Disney A.N.T. Farm
522                                         Fantastic Mr. Fox
688                        Disney Star vs. the Forces of Evil
692                          Incredible! The Story of Dr. Pol
698                  The Incredible Dr. Pol: Blue Ribbon Kids
825                                   Disney Girl vs. Monster
831                                    Disney K.C. Undercover
867                                      Dr. T, Lone Star Vet
910                                             George & A.J.

In [33]:
### directors
for character in special_characters:
    special = df[df['director'].str.contains(character, regex=False) == True]
    print(f'\nCHARACTER {character}', '\n\n', special['director'])

CHARACTER !

 Series([], Name: director, dtype: object)

CHARACTER "

 Series([], Name: director, dtype: object)

CHARACTER #

 Series([], Name: director, dtype: object)

CHARACTER $

 Series([], Name: director, dtype: object)

CHARACTER %

 Series([], Name: director, dtype: object)

CHARACTER &

 Series([], Name: director, dtype: object)

CHARACTER '

 1079    Matthew O'Callaghan
1083         Gavin O'Connor
Name: director, dtype: object

CHARACTER (

 Series([], Name: director, dtype: object)

CHARACTER )

 Series([], Name: director, dtype: object)

CHARACTER *

 Series([], Name: director, dtype: object)

CHARACTER +

 Series([], Name: director, dtype: object)

CHARACTER ,

 0              Alonso Ramirez Ramos, Dave Wasson
21                      Chris Buck, Jennifer Lee
33                    Nathan Greno, Byron Howard
34          Stevie Wermers-Skelton, Kevin Deters
45          Kevin Deters, Stevie Wermers-Skelton
                          ...
1408                  Stephen Anderson, Don Hall
1409      Ed Wexler, Gary Katona, Jamie Mitchell
1410                  Elliot Bour, Saul Blinkoff
1428                    Byron Howard, Rich Moore
1436    John Musker, Ron Clements, Dave Michener
Name: director, Length: 122, dtype: object

CHARACTER -

 24                        Jaume Collet-Serra
34      Stevie Wermers-Skelton, Kevin Deters
45      Kevin Deters, Stevie Wermers-Skelton
374     Kevin Deters, Stevie Wermers-Skelton
375     Kevin Deters, Stevie Wermers-Skelton
449                   Beyoncé Knowles-Carter
1107    Stevie Wermers-Skelton, Kevin Deters
1147                     Allison Liddi-Brown
Name: director, dtype: object

CHARACTER .

 9                              Kirk R. Thatcher
99                                   P.J. Hogan
138                                Lev L. Spiro
174                           Sigmund Spath Jr.
206                             Zach A. Parrish
298                          Jorge R. Gutiérrez
530                                 J.J. Abrams
905     Jack Kinney, W. Roberts, Hamilton Luske
921                                  C. Nichols
1119            N. Paul Kenworthy, Ralph Wright
1217                                J.J. Abrams
1413                               Lev L. Spiro
Name: director, dtype: object

CHARACTER /

 Series([], Name: director, dtype: object)

CHARACTER :

 Series([], Name: director, dtype: object)

CHARACTER ;

 Series([], Name: director, dtype: object)

CHARACTER <

 Series([], Name: director, dtype: object)

CHARACTER =

 Series([], Name: director, dtype: object)

CHARACTER >

 Series([], Name: director, dtype: object)

CHARACTER ?

 Series([], Name: director, dtype: object)

CHARACTER @

 Series([], Name: director, dtype: object)

CHARACTER [

 Series([], Name: director, dtype: object)

CHARACTER \

 Series([], Name: director, dtype: object)

CHARACTER ]

 Series([], Name: director, dtype: object)

CHARACTER ^

 Series([], Name: director, dtype: object)

CHARACTER _

 Series([], Name: director, dtype: object)

CHARACTER `

 Series([], Name: director, dtype: object)

CHARACTER {

 Series([], Name: director, dtype: object)

CHARACTER |

 Series([], Name: director, dtype: object)

CHARACTER }

 Series([], Name: director, dtype: object)

CHARACTER ~

 Series([], Name: director, dtype: object)

CHARACTER


 Series([], Name: director, dtype: object)

CHARACTER

 Series([], Name: director, dtype: object)



 Series([], Name: director, dtype: object)

In [34]:
### cast
for character in special_characters:
    special = df[df['cast'].str.contains(character, regex=False) == True]
    print(f'\nCHARACTER {character}', '\n\n', special['cast'])

CHARACTER !

 20    Stephen Apostolina, Kirk Baily, Ben Bledsoe, David Cowgill, Terri Douglas, Fuschia!
Name: cast, dtype: object

CHARACTER "

 173     Cristina 'Vee" Valenzuela, Bryce Papenbrook, Keith Silverstein, Carrie Keranen, Todd Haberkorn, Max Mittelman
329            Jamie Foxx, Tina Fey, Angela Bassett, Ahmir-Khalib "Questlove" Thompson, Phylicia Rashad, Daveed Diggs
979                                       Kevin Jonas, Joe Jonas, Nick Jonas, Demi Lovato, Taylor Swift, "Big Feggans
1208            Ashley Eckstein, Matt Lanter, C1-10P a.k.a. "Chopper" , John Boyega, Vanessa Marshall, Felicity Jones
1209              Taylor Gray, Vanessa Marshall, Freddie Prinze Jr., Tiya Sircar, Steve Blum, C1-10P a.k.a. "Chopper"
Name: cast, dtype: object

CHARACTER #

 Series([], Name: cast, dtype: object)

CHARACTER $

 Series([], Name: cast, dtype: object)

CHARACTER %

 Series([], Name: cast, dtype: object)

CHARACTER &

 Series([], Name: cast, dtype: object)

CHARACTER '

 31                                        Simu Liu, Awkwafina, Tony Leung, Michelle Yeoh, Meng'er Zhang, Ben Kingsley
173     Cristina 'Vee" Valenzuela, Bryce Papenbrook, Keith Silverstein, Carrie Keranen, Todd Haberkorn, Max Mittelman
187                Elisabeth Shue, Maia Brewton, Keith Coogan, Anthony Rapp, Calvin Levels, Vincent Phillip D'Onofrio
364                           Macaulay Culkin, Joe Pesci, Daniel Stern, John Heard, Roberts Blossom, Catherine O'Hara
365                              Macaulay Culkin, Joe Pesci, Daniel Stern, John Heard, Devin Ratray, Catherine O'Hara
389                               Adrian Pasdar, Roger Smith, Fred Tatasciore, David Kaye, Liam O'Brien, Clancy Brown
484                         Steve Guttenberg, Olivia d'Abo, Jay Sanders, John Terry, Chauncey Leopardi, Patrick Renna
492                               Tony Goldwyn, Minnie Driver, Glenn Close, Alex Linz, Rosie O'Donnell, Brian Blessed
498                     Bill Murray, Ben Kingsley, Idris Elba, Lupita Nyong'o, Scarlett Johansson, Giancarlo Esposito
593                       Catherine O'Hara, Martin Short, Martin Landau, Charlie Tahan, Atticus Shaffer, Winona Ryder
595                    Aimee Teegarden, Thomas McDonell, De'Vaughn Nixon, Danielle Campbell, Yin Chang, Jared Kusnitz
609                    Chadwick Boseman, Michael Jordan, Lupita Nyong'o, Danai Gurira, Martin Freeman, Daniel Kaluuya
611           Vincent Martella, Ashley Tisdale, Thomas Brodie-Sangster, Caroline Rhea, Richard O'Brien, Dan Povenmire
702                                Auli'i Cravalho, Queen Latifah, Shaggy , John Stamos, Graham Phillips, Amber Riley
708                                   Rod Taylor, J. Pat O'Malley, Betty Gerson, Cate Bauer, Ben Wright, Fred Worlock
721                              Ed Wynn, Richard Haydn, Sterling Holloway, Jerry Colonna, Verna Felton, Pat O'Malley
723                              Kyle Schmid, Robert Ri'chard, Kaley Cuoco, Mimi Paley, Joey Wilcots, Philip Williams
726                           Jenny Agutter, Barry Newman, Kathleen Nolan, Chris Robinson, Lou Fant, Margaret O'Brien
743                                Robby Benson, Paige O'Hara, David Stiers, Jerry Orbach, Jeff Bennett, Jim Cummings
744                              Paige O'Hara, Robby Benson, Jerry Orbach, David Stiers, Bernadette Peters, Tim Curry
804                              Albert Sharpe, Janet Munro, Sean Connery, Jimmy O'Dea, Kieron Moore, Estelle Winwood
811                          Dove Cameron, Cameron Boyce, Sofia Carson, Booboo Stewart, Mitchell Hope, Brenna D'Amico
888                             Ellen DeGeneres, Albert Brooks, Ed O'Neill, Kaitlin Olson, Hayden Rolence, Ty Burrell
933                          Jason Dolley, Mitchel Musso, Tiffany Thornton, Josie Loren, Sean O'Bryan, Amy Farrington
986                      Shaquille O'Neal, Francis Capra, Ally Walker, James Acheson, John Costelloe, Marshall Manesh
1054                                             Hayley Atwell, James D'Arcy, Chad Murray, Enver Gjokaj, Shea Whigham
1088             Auli'i Cravalho, Dwayne Johnson, Rachel House, Temuera Morrison, Nicole Scherzinger, Jemaine Clement
1089          Matthew O'Leary, Laura Vandervoort, Myles Jeffrey, Caroline Rhea, Charles Shaughnessy, Robert Carradine
1092                     Alana Austin, Riley Smith, Mary-Margaret Humes, Trever O'Brien, Timothy Carhart, Scott Terra
1110                     Carol Burnett, Tracey Ullman, Denis O'Hare, Zooey Deschanel, Michael Boatman, Edward Hibbert
1126          Vincent Martella, Ashley Tisdale, Thomas Brodie-Sangster, Caroline Rhea, Richard O'Brien, Dan Povenmire
1127          Vincent Martella, Ashley Tisdale, Thomas Brodie-Sangster, Caroline Rhea, Richard O'Brien, Dan Povenmire
1150                    David Oyelowo, Lupita Nyong'o, Madina Nalwanga, Martin Kabanza, Taryn Kyaze, Esther Tebandeke
1152                                    Patton Oswalt, Ian Holm, Lou Romano, Brian Dennehy, Peter Sohn, Peter O'Toole
1165                            Beverley Mitchell, Brie Larson, Marcus Toji, Jodi Russell, Jon Lindstrom, Ruby O'Neil
1232                          Michael Weiss, Olivia d'Abo, Rene Auberjonois, Jeff Bennett, Jim Cummings, Grey DeLisle
1243                             Bing Crosby, Basil Rathbone, Eric Blore, Pat O'Malley, John Ployardt, Colin Campbell
1278                                    Dick O'Neill, Victor French, Louise Latham, Rad Daly, Monte Markham, Ruta Lee
1294                                                                     Julie Walters, Steve Purcell, Callum O'Neill
1316                              Hayley Mills, Maureen O'Hara, Brian Keith, Charlie Ruggles, Una Merkel, Leo Carroll
1348                    Charlie Sheen, Kiefer Sutherland, Chris O'Donnell, Oliver Platt, Tim Curry, Rebecca De Mornay
1368                       Danny Elfman, Chris Sarandon, Catherine O'Hara, William Hickey, Glenn Shadix, Paul Reubens
1385                       Bobby Driscoll, Robert Newton, Basil Sydney, Walter Fitzgerald, Denis O'Dea, Finlay Currie
Name: cast, dtype: object

CHARACTER (

 Series([], Name: cast, dtype: object)

CHARACTER )

 Series([], Name: cast, dtype: object)

CHARACTER *

 Series([], Name: cast, dtype: object)

CHARACTER +

 Series([], Name: cast, dtype: object)

CHARACTER ,

 0             Chris Diamantopoulos, Tony Anselmo, Tress MacNeille, Bill Farmer, Russi Taylor, Corey Burton
1                                                                 Jim Varney, Noelle Parker, Douglas Seale
2                                        Raymond Albert Romano, John Leguizamo, Denis Leary, Queen Latifah
3                      Darren Criss, Adam Lambert, Derek Hough, Alexander Jean, Fall Out Boy, Jimmie Allen
4                                                John Lennon, Paul McCartney, George Harrison, Ringo Starr
                                                       ...
1444                   Ray Romano, John Leguizamo, Denis Leary, Simon Pegg, Seann William Scott, Josh Peck
1445                    Hugh Jackman, Liev Schreiber, Danny Huston, will.i.am , Lynn Collins, Kevin Durand
1446                     Ben Stiller, Amy Adams, Owen Wilson, Hank Azaria, Christopher Guest, Alain Chabat
1447                    Tom Costello, Jo Hartley, Keith Allen, Dickon Tolson, Jack Costello, Taron Egerton
1448    Parminder Nagra, Keira Knightley, Jonathan Rhys-Meyers, Anupam Kher, Archie Panjabi, Shaznay Lewis
Name: cast, Length: 1034, dtype: object

CHARACTER -

 60                                                                                   Dr. Albert Yu-Min Lin
68                        Tobie Windham, Suzi Barrett, Ramon Reed, Kaylin Hayman, JC Currais, Raven-Symoné
74              Scarlett Johansson, Florence Pugh, David Harbour, O-T Fagbenle, Rachel Weisz, Ray Winstone
81                    Jason Lee, Tony Hale, Kimberly Williams-Paisley, Josh Green, Bella Thorne, Uzo Aduba
109         Raven-Symoné, Issac Ryan Brown, Navia Robinson, Jason Maybaum, Sky Katz, Anneliese van der Pol
                                                       ...
1402              Brenda Song, Shin Koyamada, Susan Chuang, Justin Chon, Michael Cheng, Andy Fischer-Price
1412          Selena Gomez, David Henrie, Jake Austin, Jennifer Stone, Maria Canals-Barrera, David DeLuise
1413       Selena Gomez, David Henrie, Jake T. Austin, Jennifer Stone, Maria Canals-Barrera, David DeLuise
1425            Kirsten Storms, Raven-Symoné , Stuart Pankin, Holly Fulger, Frederick Coffin, Bob Bancroft
1448    Parminder Nagra, Keira Knightley, Jonathan Rhys-Meyers, Anupam Kher, Archie Panjabi, Shaznay Lewis
Name: cast, Length: 74, dtype: object

CHARACTER .

 8          Dr. Ray Ball, Dr. Lauren Smith, Chris Massaro, Tiffany Burns, Mike Burns, Melinda Mendolusky
13                                                                    Dr. Michelle Oakley, Zachary Fine
14                                                                                    Michael B. Jordan
33            Mandy Moore, Zachary Levi, Alan Dale, Paul F. Tompkins, Kari Wahlgren, Mark Allen Stewart
45                          Betty White, Dave Foley, Derek Richardson, Sarah Chalke, W. Morgan Sheppard
                                                     ...
1367    Hayden Panettiere, Troy Evans, Bianca Collins, Nathaniel Lee Jr., Nathaniel Lee, Mercedes Colon
1413    Selena Gomez, David Henrie, Jake T. Austin, Jennifer Stone, Maria Canals-Barrera, David DeLuise
1421                    A.J. Trauth, Spencer Breslin, Lalaine , Sally Stockwell, Peter Feeney, Tim Reid
1432                     Don Murray, Lana Wood, R.G. Armstrong, Gary Crosby, John Smith, E.W. Firestone
1445                 Hugh Jackman, Liev Schreiber, Danny Huston, will.i.am , Lynn Collins, Kevin Durand
Name: cast, Length: 88, dtype: object

CHARACTER /

 Series([], Name: cast, dtype: object)

CHARACTER :

 Series([], Name: cast, dtype: object)

CHARACTER ;

 Series([], Name: cast, dtype: object)

CHARACTER <

 Series([], Name: cast, dtype: object)

CHARACTER =

 Series([], Name: cast, dtype: object)

CHARACTER >

 Series([], Name: cast, dtype: object)

CHARACTER ?

 Series([], Name: cast, dtype: object)

CHARACTER @

 Series([], Name: cast, dtype: object)

CHARACTER [

 Series([], Name: cast, dtype: object)

CHARACTER \

 Series([], Name: cast, dtype: object)

CHARACTER ]

 Series([], Name: cast, dtype: object)

CHARACTER ^

 Series([], Name: cast, dtype: object)

CHARACTER _

 Series([], Name: cast, dtype: object)

CHARACTER `

 Series([], Name: cast, dtype: object)

CHARACTER {

 Series([], Name: cast, dtype: object)

CHARACTER |

 Series([], Name: cast, dtype: object)

CHARACTER }

 Series([], Name: cast, dtype: object)

CHARACTER ~

 Series([], Name: cast, dtype: object)

CHARACTER


 Series([], Name: cast, dtype: object)

CHARACTER

 470    Greg Cipes, Kevin Michael\tRichardson, Tom Kenny, Kari Wahlgren, Clancy Brown, Corey Feldman
Name: cast, dtype: object



 Series([], Name: cast, dtype: object)

In [36]:
### Encontramos un cast con salto de linea
df[(df['cast'].notnull()) & (df['cast'].str.contains('\t'))]
# SOLUCIÓN: df['cast'] = df['cast'].str.replace('\t', '')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
470,s471,TV Show,Super Robot Monkey Team Hyperforce Go!,NaN,"Greg Cipes, Kevin Michael\tRichardson, Tom Kenny, Kari Wahlgren, Clancy Brown, Corey Feldman","United States, Japan","July 17, 2020",2004,TV-Y7,2 Seasons,"Action-Adventure, Animation, Anime",Chiro and a team of five Robot Monkeys defend Shuggazoom City against Skeleton King and his minions.

In [40]:
### Synopsis
special_characters = ['\n', '\t', '\r', 'Ã', '£', '¥', 'â', 'x2', '&']
for character in special_characters:
    special = df[df['description'].str.contains(character, regex=False) == True]
    print(f'\nCHARACTER {character}', '\n\n', special['description'])

CHARACTER


 Series([], Name: description, dtype: object)

CHARACTER

 Series([], Name: description, dtype: object)



 Series([], Name: description, dtype: object)

CHARACTER Ã

 Series([], Name: description, dtype: object)

CHARACTER £

 Series([], Name: description, dtype: object)

CHARACTER ¥

 Series([], Name: description, dtype: object)

CHARACTER â

 Series([], Name: description, dtype: object)

CHARACTER x2

 Series([], Name: description, dtype: object)

CHARACTER &

 24                           Dr. Lily Houghton & skipper Frank Wolff team up for a wild ride on the Amazon.
150         Robin Roberts sits down with iconic Hollywood women for intimate & inspirational conversations.
341     The cast of High School Musical: The Musical: The Series celebrates the holidays with music & more!
438              Come along as we reveal fun, strange & surprising facts about our world in Weird But True!
557                 Brain Games features games & experiments revealing the science of how your brain works.
601             “Disney Insider” tells the stories behind Disney’s films, parks, destinations, toys & more.
735       A man embarks on an adventure to an exotic world that he learns to call home & fights to protect.
1025                                            A toy-stealing bully meets his match in a Lost & Found box.
Name: description, dtype: object

<h3>La data parece estar limpia a simple vista, solamente encontramos un salto de linea (\t) en cast pero el resto de las columnas estan OK.</h3>

In [51]:
### Vamos a empezar con logica de los datos (fundamentalmente variables cuantitativas)
### Year no logicos
import numpy as np
def parse_year(year):
    try:
        year = int(year)
        return year
    except (TypeError, ValueError):
        return None
df_copy['release_year'] = df_copy['release_year'].apply(parse_year)

In [52]:
df_copy['release_year'].unique()

array([2016, 1988, 2011, 2021, 2015, 2019, 2008, 2020, 2007, 2013, 2018,
       2014, 2012, 2006, 2010, 1996, 2009, 2017, 1993, 1994, 1998, 1989,
       1997, 2005, 2000, 2004, 1987, 1985, 1967, 1973, 1991, 1956, 1995,
       1984, 1974, 1959, 2003, 1976, 2001, 1990, 1992, 1952, 1955, 1977,
       1957, 1999, 1948, 1964, 1969, 1942, 1950, 1951, 1953, 1949, 1940,
       1946, 1954, 1936, 1944, 1935, 1939, 1975, 1978, 2002, 1971, 1961,
       1962, 1981, 1932, 1938, 1941, 1986, 1947, 1937, 1966, 1943, 1934,
       1980, 1960, 1983, 1972, 1982, 1979, 1928, 1965, 1970, 1963, 1933,
       1945, 1968], dtype=int64)

In [53]:
### No hay años ilogicos
df_copy[(df_copy['release_year'] < 0) | (df_copy['release_year'] > 2022)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [54]:
### duration
result = df_copy[(df_copy['duration'].notnull()) & (df_copy['duration'].str.contains('min'))]
result['duration'].unique()

array(['23 min', '91 min', '41 min', '94 min', '45 min', '59 min',
       '4 min', '2 min', '1 min', '8 min', '110 min', '11 min', '7 min',
       '95 min', '129 min', '14 min', '5 min', '134 min', '9 min',
       '30 min', '6 min', '22 min', '3 min', '87 min', '90 min', '93 min',
       '101 min', '132 min', '44 min', '131 min', '104 min', '52 min',
       '47 min', '53 min', '85 min', '92 min', '135 min', '105 min',
       '99 min', '88 min', '127 min', '106 min', '116 min', '42 min',
       '140 min', '66 min', '115 min', '137 min', '126 min', '82 min',
       '125 min', '54 min', '98 min', '102 min', '80 min', '170 min',
       '97 min', '112 min', '21 min', '20 min', '15 min', '19 min',
       '79 min', '89 min', '18 min', '81 min', '148 min', '121 min',
       '96 min', '109 min', '107 min', '86 min', '24 min', '12 min',
       '65 min', '48 min', '111 min', '43 min', '180 min', '182 min',
       '60 min', '50 min', '46 min', '123 min', '113 min', '117 min',
       '83 min', '103 min', '122 min', '72 min', '143 min', '84 min',
       '128 min', '138 min', '120 min', '118 min', '55 min', '56 min',
       '144 min', '33 min', '100 min', '160 min', '49 min', '152 min',
       '75 min', '108 min', '78 min', '119 min', '147 min', '142 min',
       '32 min', '31 min', '27 min', '77 min', '25 min', '74 min',
       '62 min', '71 min', '162 min', '73 min', '114 min', '10 min',
       '64 min', '51 min', '151 min', '76 min', '26 min', '130 min',
       '70 min', '13 min', '183 min', '150 min', '145 min', '67 min',
       '169 min', '61 min', '63 min', '124 min', '139 min', '136 min',
       '58 min', '69 min', '154 min', '175 min', '68 min'], dtype=object)

In [55]:
result['duration'] = result['duration'].apply(lambda duration: int(re.findall(r'\d+', duration)[0]))

C:\Users\tadeo\AppData\Local\Temp\ipykernel_18428\3007834597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['duration'] = result['duration'].apply(lambda duration: int(re.findall(r'\d+', duration)[0]))

In [74]:
### Nos encontramos muchos contenidos con duración menor a 5, ninguna mayor a 300.
result[(result['duration'] < 5) | (result['duration'] > 300)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
11,s12,Movie,Puppy for Hanukkah,NaN,NaN,NaN,"November 19, 2021",2020,TV-G,4,"[Comedy, Family, Music]","Check out Daveed Digg's official music video ""Puppy for Hanukkah!"""
14,s15,Movie,America the Beautiful,NaN,Michael B. Jordan,NaN,"November 12, 2021",2021,TV-PG,2,"[Animals, Nature]","Epic, grand portrait of the land across four regions on the most extreme continent. Coming in 2022."
15,s16,Movie,Baymax!,NaN,NaN,NaN,"November 12, 2021",2021,TV-G,1,[Animation],“Baymax!” premieres on Disney+ summer 2022.
25,s26,Movie,Limitless with Chris Hemsworth,NaN,Chris Hemsworth,NaN,"November 12, 2021",2021,TV-14,2,[Lifestyle],"""Limitless with Chris Hemsworth"" is coming to Disney+ in 2022."
27,s28,Movie,Obi-Wan Kenobi,NaN,NaN,NaN,"November 12, 2021",2021,TV-PG,1,"[Action-Adventure, Science Fiction]","A behind the scenes look of the ""Obi-Wan Kenobi"" special event series. Coming to Disney+ in 2022."
37,s38,Movie,The Proud Family: Louder and Prouder,NaN,"Kyla Pratt, Tommy Davidson, Paula Jai Parker, JoMarie Payton, Cedric the Entertainer",NaN,"November 12, 2021",2021,TV-G,1,"[Animation, Comedy, Coming of Age]","""The Proud Family: Louder and Prouder"" follows Penny Proud and her family. Coming in February 2022."
41,s42,Movie,Willow,NaN,NaN,NaN,"November 12, 2021",2021,TV-PG,3,"[Action-Adventure, Fantasy]","Meet the cast of the all-new Disney+ fantasy-adventure series ""Willow."" Coming to Disney+ in 2022."
230,s231,Movie,"Maggie Simpson in ""The Force Awakens from its Nap""",David Silverman,NaN,NaN,"May 4, 2021",2021,TV-PG,4,"[Animation, Comedy, Parody]","In a daycare far, far away… but still in Springfield, Maggie goes on a quest for her lost pacifier."
353,s354,Movie,From Our Family to Yours,Angela Affinita,NaN,[United Kingdom],"November 27, 2020",2020,TV-G,3,"[Animation, Family]","A granddaughter brings joy on Christmas by mending a beloved Mickey, evoking memories of the past."
648,s649,Movie,Cars Toon: El Materdor,John Lasseter,"Larry the Cable Guy , Keith Ferguson",[United States],"January 1, 2020",2008,TV-G,4,"[Animation, Comedy, Family]",Mater is a famous bulldozer fighter in Spain.
649,s650,Movie,Cars Toon: Moon Mater,Rob Gibbs,"Larry the Cable Guy , Keith Ferguson, Josh Cooley",[United States],"January 1, 2020",2010,TV-G,4,"[Animation, Comedy, Family]",Mater’s mission on the moon: rescue the Impala XIII.
650,s651,Movie,Cars Toon: Rescue Squad Mater,John Lasseter,"Larry the Cable Guy , Keith Ferguson, Bret Parker, Peter Sohn, Bob Peterson, Bob Scott",[United States],"January 1, 2020",2010,TV-Y7,3,"[Animation, Comedy, Family]",Mater is a fire truck that rescues McQueen from a fire
651,s652,Movie,Cars Toon: Spinning,Jeremy Lasky,"Keith Ferguson, Paul Dooley, Tony Shalhoub, Lloyd Sherr, Michael Wallis, Guido Quaroni",[United States],"January 1, 2020",2013,TV-G,2,"[Animation, Family]",Guido discovers his talent as a sign spinner.
654,s655,Movie,Cars Toon: Unidentified Flying Mater,John Lasseter,"Larry the Cable Guy , Keith Ferguson",[United States],"January 1, 2020",2010,TV-Y7,4,"[Animation, Comedy, Family]",Mater and Lightning McQueen rescue a UFO named Mator.
655,s656,Movie,Cars Toons: Bugged,Jeremy Lasky,"Jerome Ranft, Josh Cooley",[United States],"January 1, 2020",2013,TV-G,2,"[Animation, Family]",Red's peaceful morning routine is interrupted by a pesky visitor.
670,s671,Movie,Super Rhino,Nathan Greno,"Miley Cyrus, Mark Walton, Susie Essman, Malcolm McDowell, Randy Savage",[United States],"January 1, 2020",2009,G,4,"[Action-Adventure, Animation, Comedy]",Rhino gets an upgrade just in time to save Bolt and Penny from Dr. Calico.
705,s706,Movie,"Happy Birthday, Mickey!",NaN,NaN,NaN,"November 18, 2019",2019,TV-G,2,"[Animation, Comedy, Dance]","Celebrating Mickey, the world’s most beloved character."
781,s782,Movie,Cars Toon: Hiccups,Jeremy Lasky,"Keith Ferguson, Larry the Cable Guy , Michael Wallis, Tony Shalhoub, Lloyd Sherr, Bonnie Hunt",[United States],"November 12, 2019",2013,TV-G,3,"[Animation, Comedy, Family]",Lighting McQueen gets the hiccups.
896,s897,Movie,For the Birds,Ralph Eggleston,NaN,[United States],"November 12, 2019",2001,G,4,"[Animation, Comedy, Family]",Small birds mock a big bird who tries to sit with them
910,s911,Movie,George & A.J.,Josh Cooley,"Jason Topolski, A.J. Riebli III, Steve Purcell, Peter Sohn, Bob Peterson, Kim Donovan",[United States],"November 12, 2019",2009,TV-G,4,"[Animation, Comedy, Family]",Two nurses try to escort seniors to the nursing home.
994,s995,Movie,Knick Knack Theatrical Short,John Lasseter,NaN,NaN,"November 12, 2019",2003,G,4,"[Animation, Family, Kids]",A snowman longs to break out of his snow globe.
1027,s1028,Movie,Luxo Jr.,NaN,NaN,[United States],"November 12, 2019",1986,G,2,"[Animation, Comedy, Family]",A baby lamp finds a ball to play with.
1158,s1159,Movie,Red's Dream,John Lasseter,NaN,[United States],"November 12, 2019",1987,TV-G,4,"[Animation, Drama, Family]","Red, a unicycle, dreams that he steals the show."
1240,s1241,Movie,The Adventures of André & Wally B.,Alvy Smith,NaN,[United States],"November 12, 2019",1984,TV-G,2,"[Animation, Kids]",Andre awakens from a nap and is greeted by a pesky bee.
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,[United States],"April 1, 2020",2012,TV-G,2,"[Action-Adventure, Animals, Nature, Animation]",View one of Sparky's favorite home movies.

In [149]:
df_copy = df.copy()

In [150]:
### date_added
df_copy['date_added'] = df_copy['date_added'].apply(lambda date: date.split(',') if type(date) != float else date)
df_years = df_copy[df_copy['date_added'].notnull()]

In [151]:
def get_year(date_added):
    try:
        date_added = int(date_added[1])
        return date_added
    except (IndexError, TypeError):
        print(f'Error en {date_added}')
        return None
df_years['date_added'] = df_years['date_added'].apply(get_year)

Error en ['TV-PG']

C:\Users\tadeo\AppData\Local\Temp\ipykernel_7032\3031523707.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_years['date_added'] = df_years['date_added'].apply(get_year)

In [164]:
df_years[(df_years['date_added'] > 2022) | (df_years['date_added'] < 1930)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

<h2 align="center",  style="background: salmon; color:black">Conclusiones</h2><br>
<h4>No hay datos ilogicos en las variables cuantitativas, salvo en Duration, aqui encontre varios problemas:<br><br>
Muchos trailers, premieres, behind the scenes o meet cast que en realidad no son MOVIES (duracion < 5) como dice su type, dudo que tengan que estar en el archivo ya que es contenido que complementa a la movie.
Encontre contenidos que dicen ser Movies pero son TV-Series, por ejemplo America the Beautiful, aun asi este es un adelanto de la serie, es por eso que no deberia estar como registro.<br><br>
Por ultimo, creo que es necesario estandarizar los campos como duration a un solo dato de tipo integer y date_added a un formato mas datetime que pueda ser manipulado por pandas.</h4><br>

In [75]:
### Ultima etapa: duplicados
### Importamos metodos que hicimos para complementar a los de pandas
Analysis.check_id_dups(df)

 ##### DUPLICADOS POR ID: (0) #####

DUPLICADOS: NO HAY DUPLICADOS


 #######################

In [76]:
Analysis.check_title(df)

 ***** Análisis title *****

 ##### DUPLICADOS: #####

DUPLICADOS: NO HAY DUPLICADOS


 #######################

In [77]:
### Vamos a probar manualmente
df['title'] = df['title'].str.strip()
by_id = df['show_id'].duplicated().sum()
by_title = df[['title', 'type']].duplicated().sum()
print(f'Repetidos por ID: {by_id}, repetidos por titulo: {by_title}')

Repetidos por ID: 0, repetidos por titulo: 0

In [79]:
### No encontramos nada :)
duplicates = df[df[['title', 'type']].duplicated(keep=False)][['show_id', 'title']].sort_values(by='title', ascending=True)
duplicates_titles = df[df[['title', 'type']].duplicated(keep=False)]
duplicates_titles

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

<h1>DONE</h1>