In [1]:
import sys
sys.path.append("..")
import pandas as pd
from utils.dataframe import GetDataFrame
from utils.analysis import Analysis

<h1 align="center",  style="background: MediumVioletRed; color:black">Analisís de Netflix Titles</h1>

In [2]:
# Usamos nuestro propio metodo estatico de la clase GetDataFrame para traer el dataframe
df = GetDataFrame.csv('desafio-rkd', 'netflix_titles')

 --- S3 -> Connected ---> netflix_titles.csv ----> To DF

In [4]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

<h3>
Vamos a hacer un primer acercamiento al dataframe, esto implica conocer sus columnas, 
el tipo de datos contenidos, conteo de nulos y valores unicos.
</h3>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8808 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7983 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   object
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8806 non-null   object
 11  description   8806 non-null   object
dtypes: object(12)
memory usage: 826.0+ KB

In [6]:
### Vemos columnas
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [7]:
### Conteo de nulos por columnas
df.isnull().sum()

show_id            0
type               1
title              2
director        2636
cast             826
country          833
date_added        12
release_year       2
rating             6
duration           5
listed_in          3
description        3
dtype: int64

<h3 style="font-family: Verdana, sans-serif">Muchos nulos en director, cast y country (es normal ya que no se consigue esa data en todas las peliculas tan facilmente).<br>
Por otro lado tenemos 1 nulo en type, y 2 en title lo cual considero importante ya que son dos columnas que no deberian tener nulos. <br>
El resto de las columnas tienen una cantidad acorde de nulos.
</h3>

In [8]:
df[df['title'].isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8202,"and probably will.""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8421,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN

In [9]:
df[df['type'].isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8202,"and probably will.""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Hay un contenido en comun que comparte estos dos campos nulos<br>
## Al  ver su id encontramos otro problema, parece ser que hay ID's que no estan de la mejor manera formateados.
## Un ID deberia ser tipo integer o con un patron (string + int) o tipo hash.

In [10]:
### Empezamos a ver los datos de cada columna
df['show_id'].sample(20)

6383    s6384
5591    s5592
8580    s8579
4290    s4291
8617    s8616
6130    s6131
6040    s6041
1034    s1035
6426    s6427
5825    s5826
7481    s7482
7056    s7057
3161    s3162
2907    s2908
677      s678
3138    s3139
8352    s8352
4299    s4300
7504    s7505
2156    s2157
Name: show_id, dtype: object

In [11]:
### vamos un poco mas a fondo con el campo show_id
df[df['show_id'].str.lower().str.contains('"')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8202,"and probably will.""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8421,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN

In [12]:
import string
special_characters = list(string.punctuation)
for index, row in df.iterrows():
    if any(char in row['show_id'] for char in special_characters):
        print(row['show_id'], row['title'])

 and probably will." nan
Flying Fortress" nan

In [13]:
### Type
df['type'].unique()

array(['Movie', 'TV Show', nan, 'William Wyler'], dtype=object)

In [14]:
### Hay un valor incorrecto en type correspondiente a un ¿Nombre?
df[df['type'] == 'William Wyler']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8421,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN

In [15]:
### Este contenido tiene todos los datos cambiados

In [16]:
### Country
df['country'].unique()

array(['United States', 'South Africa', nan, 'India',
       'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia',
       'United Kingdom', 'Germany, Czech Republic', 'Mexico', 'Turkey',
       'Australia', 'United States, India, France', 'Finland',
       'China, Canada, United States',
       'South Africa, United States, Japan', 'Nigeria', 'Japan',
       'Spain, United States', 'France', 'Belgium',
       'United Kingdom, United States', 'United States, United Kingdom',
       'France, United States', 'South Korea', 'Spain',
       'United States, Singapore', 'United Kingdom, Australia, France',
       'United Kingdom, Australia, France, United States',
       'United States, Canada', 'Germany, United States',
       'South Africa, United States', 'United States, Mexico',
       'United States, Italy, France, Japan',
       'United States, Italy, Romania, United Kingdom',
       'Australia, United States', 'Argentina, Venezuela',
       'United States, United Kingdom, Canada', 'China, Hong Kong',
       'Russia', 'Canada', 'Hong Kong', 'United States, China, Hong Kong',
       'Italy, United States', 'United States, Germany',
       'United Kingdom, Canada, United States', ', South Korea',
       'Ireland', 'India, Nepal',
       'New Zealand, Australia, France, United States', 'Italy',
       'Italy, Brazil, Greece', 'Argentina', 'Jordan', 'Colombia',
       'United States, Japan', 'Belgium, United Kingdom',
       'Switzerland, United Kingdom, Australia', 'Israel, United States',
       'Canada, United States', 'Brazil', 'Argentina, Spain', 'Taiwan',
       'United States, Nigeria', 'Bulgaria, United States',
       'Spain, United Kingdom, United States', 'United States, China',
       'United States, France',
       'Spain, France, United Kingdom, United States',
       ', France, Algeria', 'Poland', 'Germany',
       'France, Israel, Germany, United States, United Kingdom',
       'New Zealand', 'Saudi Arabia', 'Thailand', 'Indonesia',
       'Egypt, Denmark, Germany', 'United States, Switzerland',
       'Hong Kong, Canada, United States', 'Kuwait, United States',
       'France, Canada, United States, Spain',
       'France, Netherlands, Singapore', 'France, Belgium',
       'Ireland, United States, United Kingdom', 'Egypt', 'Malaysia',
       'Israel', 'Australia, New Zealand', 'United Kingdom, Germany',
       'Belgium, Netherlands', 'South Korea, Czech Republic',
       'Australia, Germany', 'Vietnam', 'United Kingdom, Belgium',
       'United Kingdom, Australia, United States',
       'France, Japan, United States',
       'United Kingdom, Germany, Spain, United States',
       'United Kingdom, United States, France, Italy',
       'United States, Germany, Canada',
       'United States, France, Italy, United Kingdom',
       'United States, United Kingdom, Germany, Hungary',
       'United States, New Zealand', 'Sweden', 'China', 'Lebanon',
       'Romania', 'Finland, Germany', 'Lebanon, Syria', 'Philippines',
       'Iceland', 'Denmark', 'United States, India',
       'Philippines, Singapore, Indonesia',
       'China, United States, Canada', 'Lebanon, United Arab Emirates',
       'Canada, United States, Denmark', 'United Arab Emirates',
       'Mexico, France, Colombia', 'Netherlands',
       'Germany, United States, France', 'United States, Bulgaria',
       'United Kingdom, France, Germany, United States',
       'Norway, Denmark', 'Syria, France, Lebanon, Qatar',
       'United States, Czech Republic', 'Mauritius',
       'Canada, South Africa', 'Austria', 'Mexico, Brazil',
       'Germany, France', 'Mexico, United States',
       'United Kingdom, France, Spain, United States',
       'United States, Australia',
       'United States, United Kingdom, France', 'United States, Russia',
       'United States, United Kingdom, New Zealand',
       'Australia, United Kingdom', 'Canada, Nigeria, United States',
       'France, United States, United Kingdom, Canada',
       'France, United Kingdom', 'India, United Kingdom',
       'Canada, United States, Mexico',
       'United Kingdom, Germany, United States',
       'Czech Republic, United Kingdom, United States',
       'China, United Kingdom', 'Italy, United Kingdom', 'China, Taiwan',
       'United States, Brazil, Japan, Spain, India',
       'United States, China, United Kingdom', 'Cameroon',
       'Lebanon, Palestine, Denmark, Qatar', 'Japan, United States',
       'Uruguay, Germany', 'Egypt, Saudi Arabia',
       'United Kingdom, France, Poland, Germany, United States',
       'Ireland, Switzerland, United Kingdom, France, United States',
       'United Kingdom, South Africa, France',
       'Ireland, United Kingdom, France, Germany',
       'Russia, United States', 'United Kingdom, United States, France',
       'United Kingdom,', 'United States, India, United Kingdom', 'Kenya',
       'Spain, Argentina', 'India, United Kingdom, France, Qatar',
       'Belgium, France', 'Argentina, Chile', 'United States, Thailand',
       'Chile, Brazil', 'United States, Colombia',
       'Canada, United States, United Kingdom', 'Uruguay', 'Luxembourg',
       'United States, Cambodia, Romania', 'Bangladesh',
       'Spain, Belgium, United States',
       'United Kingdom, United States, Australia',
       'Canada, United States, France', 'Portugal, United States',
       'Portugal, Spain', 'India, United States',
       'United Kingdom, Ireland', 'United Kingdom, Spain, United States',
       'Hungary, United States', 'United States, South Korea',
       'Canada, United States, Cayman Islands', 'India, France',
       'France, Canada', 'Canada, Hungary, United States', 'Norway',
       'Canada, United Kingdom, United States',
       'United Kingdom, Germany, France, United States',
       'Denmark, United States', 'Senegal', 'France, Algeria',
       'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland',
       'Philippines, Canada, United Kingdom, United States',
       'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong',
       'Singapore', 'Kuwait', 'United States, France, Serbia',
       'United States, Italy', 'Spain, Italy',
       'United States, Ireland, United Kingdom, India',
       'United Kingdom, Singapore', 'Hong Kong, United States',
       'United States, Malta, France, United Kingdom',
       'United States, China, Canada', 'Canada, United States, Ireland',
       'Lebanon, Canada, France', 'Japan, Canada, United States',
       'Spain, France, Canada',
       'Denmark, Singapore, Canada, United States',
       'United States, France, Denmark', 'United States, China, Colombia',
       'Spain, Thailand, United States', 'Mexico, Spain',
       'Ireland, Luxembourg, Belgium', 'China, United States',
       'Canada, Belgium', 'Canada, United Kingdom',
       'Lebanon, United Arab Emirates, France, Switzerland, Germany',
       'France, Belgium, Italy',
       'Lebanon, United States, United Arab Emirates', 'Lebanon, France',
       'France, Lebanon', 'France, Lebanon, United Kingdom',
       'France, Norway, Lebanon, Belgium',
       'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands',
       'United States, United Kingdom, India', 'Indonesia, Netherlands',
       'Turkey, South Korea', 'Serbia, United States', 'Namibia',
       'United Kingdom, Kenya', 'United Kingdom, France, Germany, Spain',
       'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany',
       'Thailand, United States',
       'United States, France, Canada, Belgium', 'United Kingdom, China',
       'Germany, China, United Kingdom',
       'Australia, New Zealand, United States',
       'Hong Kong, Iceland, United States', 'France, Australia, Germany',
       'United States, Belgium, Canada, France', 'South Africa, Angola',
       'United States, Philippines',
       'United States, United Kingdom, Canada, China',
       'United States, Canada, United Kingdom', 'Turkey, United States',
       'Peru, Germany, Norway', 'Mozambique', 'Brazil, France',
       'China, Spain, South Korea, United States', 'Spain, Germany',
       'Hong Kong, China', 'France, Belgium, Luxembourg, Cambodia,',
       'United Kingdom, Australia', 'Belarus',
       'Indonesia, United Kingdom',
       'Switzerland, France, Belgium, United States', 'Ghana',
       'Spain, France, Canada, United States', 'Chile, Italy',
       'United Kingdom, Nigeria', 'Chile', 'France, Egypt',
       'Egypt, France', 'France, Brazil, Spain, Belgium',
       'Egypt, Algeria', 'Canada, South Korea, United States',
       'Nigeria, United Kingdom', 'United States, France, Canada',
       'Poland, United States',
       'United Arab Emirates, Jordan, Lebanon, Saudi Arabia',
       'United States, Mexico, Spain, Malta',
       'Saudi Arabia, United Arab Emirates', 'Zimbabwe',
       'United Kingdom, Germany, United Arab Emirates, New Zealand',
       'Romania, United States', 'Canada, Nigeria',
       'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States',
       'United Kingdom, Spain', 'Finland, France',
       'United Kingdom, Germany, United States, France',
       'India, United Kingdom, China, Canada, Japan, South Korea, United States',
       'Italy, United Kingdom, France', 'United States, Mexico, Colombia',
       'Turkey, India', 'Italy, Turkey',
       'United Kingdom, United States, Japan',
       'France, Belgium, United States',
       'Puerto Rico, United States, Colombia', 'Uruguay, Argentina',
       'United States, United Kingdom, Japan', 'United States, Argentina',
       'United Kingdom, Italy', 'Ireland, United Kingdom',
       'United Kingdom, France, Belgium, Canada, United States',
       'Netherlands, Germany, Denmark, United Kingdom', 'Hungary',
       'Austria, Germany', 'Taiwan, China',
       'United Kingdom, United States, Ireland',
       'South Korea, United States', 'Brazil, United Kingdom',
       'Pakistan, United States', 'Romania, France, Switzerland, Germany',
       'Romania, United Kingdom', 'France, Malta, United States',
       'Cyprus',
       'United Kingdom, France, Belgium, Ireland, United States',
       'United States, Norway, Canada', 'Kenya, United States',
       'France, South Korea, Japan, United States', 'Taiwan, Malaysia',
       'Uruguay, Argentina, Germany, Spain',
       'United States, United Kingdom, France, Germany, Japan',
       'United States, France, Japan',
       'United Kingdom, France, United States',
       'Spain, France, United States',
       'Indonesia, South Korea, Singapore', 'United States, Spain',
       'Netherlands, Germany, Italy, Canada',
       'Spain, Germany, Denmark, United States', 'Norway, Sweden',
       'South Korea, Canada, United States, China',
       'Argentina, Uruguay, Serbia', 'France, Japan',
       'Mauritius, South Africa', 'United States, Poland',
       'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
       'India, Germany', 'India, United Kingdom, Canada, United States',
       'Philippines, United States', 'Romania, Bulgaria, Hungary',
       'Uruguay, Guatemala', 'France, Senegal, Belgium',
       'United Kingdom, Canada', 'Mexico, United States, Spain, Colombia',
       'Canada, Norway', 'Singapore, United States',
       'Finland, Germany, Belgium', 'United Kingdom, France',
       'United States, Chile', 'United Kingdom, Japan, United States',
       'Spain, United Kingdom', 'Argentina, United States, Mexico',
       'United States, South Korea, Japan', 'Canada, Australia',
       'United Kingdom, Hungary, Australia', 'Italy, Belgium',
       'United States, United Kingdom, Germany', 'Switzerland',
       'Singapore, Malaysia',
       'France, Belgium, Luxembourg, Romania, Canada, United States',
       'South Africa, Nigeria', 'Spain, France',
       'United Kingdom, Hong Kong', 'Pakistan', 'Brazil, United States',
       'Denmark, Brazil, France, Portugal, Sweden', 'India, Turkey',
       'Malaysia, Singapore, Hong Kong', 'Philippines, Singapore',
       'Australia, Canada', 'Taiwan, China, France, United States',
       'Germany, Italy', 'Colombia, Peru, United Kingdom',
       'Thailand, China, United States', 'Argentina, United States',
       'Sweden, United States', 'Uruguay, Spain, Mexico',
       'France, Luxembourg, Canada', 'Denmark, Spain', 'Chile, Argentina',
       'United Kingdom, Belgium, Sweden', 'Canada, Brazil',
       'Italy, France', 'Canada, Germany',
       'Pakistan, United Arab Emirates', 'Ghana, United States',
       'Mexico, Finland', 'United Arab Emirates, United Kingdom, India',
       'Netherlands, Belgium', 'United States, Taiwan',
       'Austria, Iraq, United States', 'United Kingdom, Malawi',
       'Paraguay, Argentina', 'United Kingdom, Russia, United States',
       'India, Pakistan', 'Indonesia, Singapore', 'Spain, Belgium',
       'Iceland, Sweden, Belgium', 'Croatia', 'Uruguay, Argentina, Spain',
       'United Kingdom, Ireland, United States',
       'Canada, Germany, France, United States', 'United Kingdom, Japan',
       'Norway, Denmark, Netherlands, Sweden',
       'Hong Kong, China, United States', 'Ireland, Canada',
       'Italy, Switzerland, France, Germany', 'Mexico, Netherlands',
       'United States, Sweden', 'Germany, France, Russia',
       'France, Iran, United States', 'United Kingdom, India',
       'Russia, Poland, Serbia', 'Spain, Portugal', 'Peru',
       'Mexico, Argentina',
       'United Kingdom, Canada, United States, Cayman Islands',
       'Indonesia, United States',
       'United States, Israel, United Kingdom, Canada',
       'Norway, Iceland, United States', 'Czech Republic, United States',
       'United Kingdom, India, United States',
       'United Kingdom, West Germany', 'India, Australia',
       'United States,', 'Belgium, United Kingdom, United States',
       'India, Germany, Austria',
       'United States, Brazil, South Korea, Mexico, Japan, Germany',
       'Spain, Mexico', 'China, Japan', 'Argentina, France',
       'China, United States, United Kingdom',
       'France, Luxembourg, United States',
       'China, United States, Australia', 'Colombia, Mexico',
       'United States, Canada, Ireland', 'Chile, Peru',
       'Argentina, Italy', 'Canada, Japan, United States',
       'United Kingdom, Canada, United States, Germany',
       'Italy, Switzerland, Albania, Poland',
       'United States, Japan, Canada', 'Cambodia',
       'Italy, United States, Argentina',
       'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait',
       'United States, Canada, Indonesia, United Kingdom, China, Singapore',
       'Spain, Colombia',
       'United Kingdom, South Africa, Australia, United States',
       'Bulgaria', 'Argentina, Brazil, France, Poland, Germany, Denmark',
       'United Kingdom, Spain, United States, Germany',
       'Philippines, Qatar', 'Netherlands, Belgium, Germany, Jordan',
       'United Arab Emirates, United States', 'Norway, Germany, Sweden',
       'South Korea, China', 'Georgia', 'Soviet Union, India',
       'Australia, United Arab Emirates', 'Canada, Germany, South Africa',
       'South Korea, China, United States', 'India, Soviet Union',
       'India, Mexico', 'Georgia, Germany, France',
       'United Arab Emirates, Romania', 'India, Malaysia',
       'Germany, Jordan, Netherlands', 'Turkey, France, Germany, Poland',
       'Greece, United States', 'France, United Kingdom, United States',
       'Norway, Germany', 'France, Morocco', 'Cambodia, United States',
       'United States, Denmark', 'United States, Colombia, Mexico',
       'United Kingdom, Italy, Israel, Peru, United States',
       'Argentina, Uruguay, Spain, France',
       'United Kingdom, France, United States, Belgium',
       'France, Canada, China, Cambodia',
       'United Kingdom, France, Belgium, United States', 'Chile, France',
       'Netherlands, United States', 'France, United Kingdom, India',
       'Czech Republic, Slovakia', 'Singapore, France',
       'Spain, Switzerland', 'United States, Australia, China',
       'South Africa, United States, Germany',
       'United States, United Kingdom, Australia',
       'Spain, Italy, Argentina', 'Chile, Spain, Argentina, Germany',
       'West Germany', 'Austria, Czech Republic', 'Lebanon, Qatar',
       'United Kingdom, Jordan, Qatar, Iran',
       'France, South Korea, Japan', 'Israel, Germany, France',
       'Canada, Japan, Netherlands', 'United States, Hungary',
       'France, Germany', 'France, Qatar',
       'United Kingdom, Germany, Canada', 'Ireland, South Africa',
       'Chile, United States, France', 'Belgium, France, Netherlands',
       'United Kingdom, Ukraine, United States',
       'Germany, Australia, France, China', 'Norway, United States',
       'United States, Bermuda, Ecuador',
       'United States, Hungary, Ireland, Canada',
       'United Kingdom, Egypt, United States',
       'United States, France, United Kingdom', 'Spain, Mexico, France',
       'United States, South Africa', 'Hong Kong, China, Singapore',
       'South Africa, China, United States', 'Denmark, France, Poland',
       'New Zealand, United Kingdom',
       'Netherlands, Denmark, South Africa', 'Iran, France',
       'United Kingdom, United States, France, Germany',
       'Australia, France', 'Ireland, United Kingdom, United States',
       'United Kingdom, France, Germany', 'Canada, Luxembourg',
       'Brazil, Netherlands, United States, Colombia, Austria, Germany',
       'France, Canada, Belgium', 'Canada, France',
       'Bulgaria, United States, Spain, Canada', 'Sweden, Netherlands',
       'France, United States, Mexico',
       'Australia, United Kingdom, United Arab Emirates, Canada',
       'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay',
       'India, Iran', 'France, Belgium, Spain',
       'Denmark, Sweden, Israel, United States', 'United States, Iceland',
       'United Kingdom, Russia',
       'United States, Israel, Italy, South Africa',
       'Netherlands, Denmark, France, Germany', 'South Korea, Japan',
       'United Kingdom, Pakistan', 'France, New Zealand',
       'United Kingdom, Czech Republic, United States, Germany, Bahamas',
       'China, Germany, India, United States', 'Germany, Sri Lanka',
       'United States, India, Bangladesh',
       'United States, Canada, France', 'Brazil, France, Germany',
       'Germany, United States, Hong Kong, Singapore',
       'France, Germany, Switzerland',
       'Germany, France, Luxembourg, United Kingdom, United States',
       'United Kingdom, Canada, Italy', 'Czech Republic, France',
       'Taiwan, Hong Kong, United States, China', 'Germany, Australia',
       'United Kingdom, Poland, United States', 'Denmark, Zimbabwe',
       'United Kingdom, South Africa',
       'Finland, Sweden, Norway, Latvia, Germany',
       'South Africa, United States, New Zealand, Canada',
       'United States, Italy, United Kingdom, Liechtenstein',
       'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
       'United States, Australia, Mexico',
       'United Kingdom, Czech Republic, Germany, United States',
       'France, China, Japan, United States',
       'United States, South Korea, China', 'Germany, Belgium',
       'Pakistan, Norway, United States',
       'United States, Canada, Belgium, United Kingdom', 'Venezuela',
       'Canada, France, Italy, Morocco, United States',
       'Canada, Spain, France', 'United States, Indonesia',
       'Spain, France, Italy',
       'United Arab Emirates, United States, United Kingdom',
       'United Kingdom, Israel, Russia', 'Spain, Cuba',
       'United States, Brazil', 'United States, France, Mexico',
       'United States, Nicaragua',
       'United Kingdom, United States, Spain, Germany, Greece, Canada',
       'Italy, Canada, France',
       'United Kingdom, Denmark, Canada, Croatia', 'Italy, Germany',

In [17]:
### Estan en formato string, de los cuales tenemos muchos paises en un mismo string separados por coma.
### Vamos a modificar esto para que sean listas de paises y asi poder analizarlos de una manera mas limpia
import numpy as np
df_copy = df.copy()
df_copy['country'] = df_copy['country'].apply(lambda row: row.split(',') if type(row) != float else row)
df_copy['country'] = df_copy['country'].apply(lambda row: [country.strip() for country in row] if type(row) == list else row)

In [18]:
df_copy['country'].explode().unique()

array(['United States', 'South Africa', nan, 'India', 'Ghana',
       'Burkina Faso', 'United Kingdom', 'Germany', 'Ethiopia',
       'Czech Republic', 'Mexico', 'Turkey', 'Australia', 'France',
       'Finland', 'China', 'Canada', 'Japan', 'Nigeria', 'Spain',
       'Belgium', 'South Korea', 'Singapore', 'Italy', 'Romania',
       'Argentina', 'Venezuela', 'Hong Kong', 'Russia', '', 'Ireland',
       'Nepal', 'New Zealand', 'Brazil', 'Greece', 'Jordan', 'Colombia',
       'Switzerland', 'Israel', 'Taiwan', 'Bulgaria', 'Algeria', 'Poland',
       'Saudi Arabia', 'Thailand', 'Indonesia', 'Egypt', 'Denmark',
       'Kuwait', 'Netherlands', 'Malaysia', 'Vietnam', 'Hungary',
       'Sweden', 'Lebanon', 'Syria', 'Philippines', 'Iceland',
       'United Arab Emirates', 'Norway', 'Qatar', 'Mauritius', 'Austria',
       'Cameroon', 'Palestine', 'Uruguay', 'Kenya', 'Chile', 'Luxembourg',
       'Cambodia', 'Bangladesh', 'Portugal', 'Cayman Islands', 'Senegal',
       'Serbia', 'Malta', 'Namibia', 'Angola', 'Peru', 'Mozambique',
       'Belarus', 'Zimbabwe', 'Puerto Rico', 'Pakistan', 'Cyprus',
       'Guatemala', 'Iraq', 'Malawi', 'Paraguay', 'Croatia', 'Iran',
       'West Germany', 'Albania', 'Georgia', 'Soviet Union', 'Morocco',
       'Slovakia', 'Ukraine', 'Bermuda', 'Ecuador', 'Armenia', 'Mongolia',
       'Bahamas', 'Sri Lanka', 'Latvia', 'Liechtenstein', 'Cuba',
       'Nicaragua', 'Slovenia', 'Dominican Republic', 'Samoa',
       'Azerbaijan', 'Botswana', 'Vatican City', 'Jamaica', 'Kazakhstan',
       'Lithuania', 'Afghanistan', '1944', 'Somalia', 'Sudan', 'Panama',
       'Uganda', 'East Germany', 'Montenegro'], dtype=object)

In [19]:
### No se perdio información
df_copy['country'].isnull().sum()

833

In [20]:
### Podemos aprecias que tenemos countries sucios ('' y un 1944)
df[(df['country'].notnull()) & (df['country'].str.contains('1944'))]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8421,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN

In [21]:
### Verificamos valores en rating
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR', 'Classic Movies, Documentaries'], dtype=object)

In [22]:
### Filtramos valores anormales
df[(df['rating'].str.contains('min')) | (df['rating'].str.contains('Classic'))]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...
8421,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN

In [23]:
### Verificamos año
df['release_year'].unique()

array(['2020', '2021', '1993', '2018', '1996', '1998', '1997', '2010',
       '2013', '2017', '1975', '1978', '1983', '1987', '2012', '2001',
       '2014', '2002', '2003', '2004', '2011', '2008', '2009', '2007',
       '2005', '2006', '1994', '2015', '2019', '2016', '1982', '1989',
       '1990', '1991', '1999', '1986', '1992', '1984', '1980', '1961',
       '2000', '1995', '1985', '1976', '1959', '1988', '1981', '1972',
       '1964', '1945', '1954', '1979', '1958', '1956', '1963', '1970',
       '1973', '1925', '1974', '1960', '1966', '1971', '1962', '1969',
       '1977', '1967', '1968', '1965', '1946', '1942', '1955', nan,
       '40 min', '1944', '1947', '1943'], dtype=object)

In [24]:
df[(df['release_year'].notnull()) & (df['release_year'].str.contains('min'))]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8421,"Flying Fortress""",William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,NaN,NaN

In [25]:
### Verificamos duration
df['duration'].unique()

array(['90 min', '2 Seasons', '1 Season', '91 min', '125 min',
       '9 Seasons', '104 min', '127 min', '4 Seasons', '67 min', '94 min',
       '5 Seasons', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '3 Seasons', '110 min', '105 min',
       '96 min', '124 min', '116 min', '98 min', '23 min', '115 min',
       '122 min', '99 min', '88 min', '100 min', '6 Seasons', '102 min',
       '93 min', '95 min', '85 min', '83 min', '113 min', '13 min',
       '182 min', '48 min', '145 min', '87 min', '92 min', '80 min',
       '117 min', '128 min', '119 min', '143 min', '114 min', '118 min',
       '108 min', '63 min', '121 min', '142 min', '154 min', '120 min',
       '82 min', '109 min', '101 min', '86 min', '229 min', '76 min',
       '89 min', '156 min', '112 min', '107 min', '129 min', '135 min',
       '136 min', '165 min', '150 min', '133 min', '70 min', '84 min',
       '140 min', '78 min', '7 Seasons', '64 min', '59 min', '139 min',
       '69 min', '148 min', '189 min', '141 min', '130 min', '138 min',
       '81 min', '132 min', '10 Seasons', '123 min', '65 min', '68 min',
       '66 min', '62 min', '74 min', '131 min', '39 min', '46 min',
       '38 min', '8 Seasons', '17 Seasons', '126 min', '155 min',
       '159 min', '137 min', '12 min', '273 min', '36 min', '34 min',
       '77 min', '60 min', '49 min', '58 min', '72 min', '204 min',
       '212 min', '25 min', '73 min', '29 min', '47 min', '32 min',
       '35 min', '71 min', '149 min', '33 min', '15 min', '54 min',
       '224 min', '162 min', '37 min', '75 min', '79 min', '55 min',
       '158 min', '164 min', '173 min', '181 min', '185 min', '21 min',
       '24 min', '51 min', '151 min', '42 min', '22 min', '134 min',
       '177 min', '13 Seasons', '52 min', '14 min', '53 min', '8 min',
       '57 min', '28 min', '50 min', '9 min', '26 min', '45 min',
       '171 min', '27 min', '44 min', '146 min', '20 min', '157 min',
       '17 min', '203 min', '41 min', '30 min', '194 min', '15 Seasons',
       '233 min', '237 min', '230 min', '195 min', '253 min', '152 min',
       '190 min', '160 min', '208 min', '180 min', '144 min', '5 min',
       '174 min', '170 min', '192 min', '209 min', '187 min', '172 min',
       '16 min', '186 min', '11 min', '193 min', '176 min', '56 min',
       '169 min', '40 min', '10 min', '3 min', '168 min', '312 min',
       '153 min', '214 min', '31 min', '163 min', '19 min', '12 Seasons',
       nan, '179 min', '11 Seasons', '43 min', '200 min', '196 min',
       '167 min', '178 min', '228 min', '18 min', '205 min', '201 min',
       'This documentary centers on the crew of the B-17 Flying Fortress Memphis Belle as it prepares to execute a strategic bombing mission over Germany.',
       '191 min'], dtype=object)

In [26]:
### Verificamos listed_in
df['listed_in'].unique()

array(['Documentaries', 'International TV Shows, TV Dramas, TV Mysteries',
       'Crime TV Shows, International TV Shows, TV Action & Adventure',
       'Docuseries, Reality TV',
       'International TV Shows, Romantic TV Shows, TV Comedies',
       'TV Dramas, TV Horror, TV Mysteries', 'Children & Family Movies',
       'Dramas, Independent Movies, International Movies',
       'British TV Shows, Reality TV', 'Comedies, Dramas',
       'Crime TV Shows, Docuseries, International TV Shows',
       'Dramas, International Movies',
       'Children & Family Movies, Comedies',
       'British TV Shows, Crime TV Shows, Docuseries',
       'TV Comedies, TV Dramas', 'Documentaries, International Movies',
       'Crime TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Thrillers',
       'International TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       'International TV Shows, TV Action & Adventure, TV Dramas',
       'Comedies, International Movies',
       'Comedies, International Movies, Romantic Movies',
       'Docuseries, International TV Shows, Reality TV',
       'Comedies, International Movies, Music & Musicals', 'Comedies',
       'Horror Movies, Sci-Fi & Fantasy', 'TV Comedies',
       'British TV Shows, International TV Shows, TV Comedies',
       'International TV Shows, TV Dramas, TV Thrillers', "Kids' TV",
       'Dramas, International Movies, Thrillers',
       'Action & Adventure, Dramas, International Movies',
       "Kids' TV, TV Comedies", 'Action & Adventure, Dramas',
       "Kids' TV, TV Sci-Fi & Fantasy",
       'Action & Adventure, Classic Movies, Dramas',
       'Dramas, Horror Movies, Thrillers',
       'Action & Adventure, Horror Movies, Thrillers',
       'Action & Adventure', 'Dramas, Thrillers',
       'International TV Shows, TV Dramas',
       'International TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Action & Adventure, Anime Features, International Movies',
       'Reality TV', 'Docuseries, International TV Shows',
       'Documentaries, International Movies, Sports Movies',
       'International TV Shows, Reality TV, Romantic TV Shows',
       'British TV Shows, Docuseries, International TV Shows',
       'Anime Series, International TV Shows',
       'Comedies, Dramas, International Movies',
       'Crime TV Shows, TV Comedies, TV Dramas',
       'Action & Adventure, Comedies, Dramas', "Anime Series, Kids' TV",
       'International Movies, Thrillers', "Kids' TV, Korean TV Shows",
       'Documentaries, Sports Movies', 'Sci-Fi & Fantasy, Thrillers',
       'Dramas, International Movies, Romantic Movies',
       'Documentaries, Music & Musicals',
       "Kids' TV, TV Comedies, TV Sci-Fi & Fantasy",
       "British TV Shows, Kids' TV", 'Docuseries, Science & Nature TV',
       'Children & Family Movies, Dramas',
       "Kids' TV, TV Dramas, Teen TV Shows",
       'Crime TV Shows, International TV Shows, Spanish-Language TV Shows',
       'Docuseries, International TV Shows, Spanish-Language TV Shows',
       'Dramas', 'Comedies, Romantic Movies', 'Dramas, Romantic Movies',
       'Comedies, Dramas, Independent Movies',
       'Crime TV Shows, TV Action & Adventure, TV Comedies',
       'Children & Family Movies, Music & Musicals',
       'Action & Adventure, Classic Movies, Cult Movies',
       'International TV Shows, TV Action & Adventure, TV Comedies',
       'Action & Adventure, Sci-Fi & Fantasy',
       'Action & Adventure, Comedies', 'Classic Movies, Comedies, Dramas',
       'Comedies, Cult Movies', 'Comedies, Cult Movies, Music & Musicals',
       'Comedies, Music & Musicals', 'TV Shows',
       'Action & Adventure, International Movies',
       'Anime Series, International TV Shows, Teen TV Shows',
       'Action & Adventure, Children & Family Movies, Cult Movies',
       'Comedies, Dramas, Romantic Movies',
       'Comedies, Cult Movies, Sci-Fi & Fantasy',
       'Classic Movies, Dramas',
       'Action & Adventure, Children & Family Movies, Comedies',
       'Dramas, Faith & Spirituality', 'Documentaries, LGBTQ Movies',
       'Action & Adventure, Classic Movies', 'Docuseries',
       'International TV Shows, TV Comedies',
       'Dramas, Independent Movies',
       'Action & Adventure, Comedies, International Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Crime TV Shows, International TV Shows, TV Dramas',
       'Action & Adventure, Horror Movies, International Movies',
       'Comedies, International Movies, Sci-Fi & Fantasy',
       'Action & Adventure, International Movies, Music & Musicals',
       'Dramas, International Movies, Music & Musicals',
       'Horror Movies, International Movies', 'Reality TV, Teen TV Shows',
       'Crime TV Shows, TV Dramas, TV Mysteries',
       'International TV Shows, Reality TV',
       'International TV Shows, TV Comedies, TV Dramas',
       'Dramas, Independent Movies, Romantic Movies', 'Horror Movies',
       'Documentaries, LGBTQ Movies, Sports Movies',
       'Horror Movies, International Movies, Thrillers',
       'Action & Adventure, Anime Features',
       'TV Dramas, TV Mysteries, TV Sci-Fi & Fantasy',
       'International TV Shows, Spanish-Language TV Shows, TV Comedies',
       'Children & Family Movies, Comedies, Music & Musicals',
       'Comedies, Independent Movies',
       'Anime Series, International TV Shows, Romantic TV Shows',
       'Classic Movies, Dramas, Independent Movies',
       'International TV Shows, Romantic TV Shows, Spanish-Language TV Shows',
       'International TV Shows, TV Dramas, Teen TV Shows',
       'Stand-Up Comedy',
       'Action & Adventure, Anime Features, Children & Family Movies',
       'International TV Shows, Romantic TV Shows, TV Dramas',
       'International Movies, Music & Musicals',
       'TV Action & Adventure, TV Dramas, TV Mysteries',
       'Horror Movies, Independent Movies, International Movies',
       'Comedies, Cult Movies, International Movies',
       'Classic Movies, Dramas, International Movies', 'Movies',
       'Crime TV Shows, Docuseries',
       'Children & Family Movies, Comedies, Sci-Fi & Fantasy',
       'Anime Series, International TV Shows, TV Thrillers',
       'Action & Adventure, Horror Movies, Sci-Fi & Fantasy',
       'Classic Movies, Comedies, Cult Movies',
       'TV Dramas, Teen TV Shows',
       'Action & Adventure, Sci-Fi & Fantasy, Thrillers',
       'Children & Family Movies, Comedies, Dramas',
       'Dramas, Sports Movies',
       'Action & Adventure, Dramas, Sci-Fi & Fantasy',
       'Action & Adventure, Comedies, Cult Movies',
       'Dramas, Independent Movies, Thrillers',
       'TV Dramas, TV Sci-Fi & Fantasy',
       'Action & Adventure, International Movies, Thrillers',
       'British TV Shows, International TV Shows, Reality TV',
       'TV Action & Adventure, TV Dramas, Teen TV Shows', 'Anime Series',
       'Crime TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy',
       'Crime TV Shows, International TV Shows, TV Comedies',
       'Stand-Up Comedy & Talk Shows, TV Comedies',
       'Classic & Cult TV, TV Action & Adventure, TV Dramas',
       'Children & Family Movies, Sports Movies',
       'TV Action & Adventure, TV Sci-Fi & Fantasy',
       'Anime Series, Stand-Up Comedy & Talk Shows', 'TV Dramas',
       'Anime Features, Children & Family Movies, International Movies',
       'Classic & Cult TV, Crime TV Shows, International TV Shows',
       'Crime TV Shows, International TV Shows, Romantic TV Shows',
       'Horror Movies, LGBTQ Movies',
       'Action & Adventure, Dramas, Romantic Movies',
       'Documentaries, International Movies, Music & Musicals',
       'TV Comedies, TV Dramas, Teen TV Shows',
       'Children & Family Movies, Comedies, Sports Movies',
       'Children & Family Movies, Dramas, International Movies',
       'Comedies, Documentaries, International Movies',
       'Romantic TV Shows, TV Dramas',
       'Anime Series, TV Horror, TV Thrillers',
       'International Movies, Romantic Movies',
       'TV Action & Adventure, TV Dramas, TV Sci-Fi & Fantasy',
       "Kids' TV, Korean TV Shows, TV Comedies",
       'British TV Shows, Crime TV Shows, International TV Shows',
       'Crime TV Shows, TV Horror, TV Mysteries',
       'Docuseries, International TV Shows, Science & Nature TV',
       'British TV Shows, International TV Shows, TV Dramas',
       "Kids' TV, TV Action & Adventure, TV Sci-Fi & Fantasy",
       'International Movies, Romantic Movies, Thrillers',
       'Action & Adventure, Cult Movies, International Movies',
       'Action & Adventure, Comedies, Sci-Fi & Fantasy',
       "International TV Shows, Kids' TV, TV Mysteries",
       'Action & Adventure, Thrillers',
       'Dramas, Faith & Spirituality, International Movies',
       'Action & Adventure, Classic Movies, Comedies',
       'Action & Adventure, Comedies, Sports Movies',
       'Action & Adventure, Children & Family Movies, Classic Movies',
       'Action & Adventure, Children & Family Movies, Dramas',
       'Horror Movies, Thrillers', 'Action & Adventure, Romantic Movies',
       'Dramas, Romantic Movies, Sci-Fi & Fantasy',
       'Dramas, Music & Musicals, Romantic Movies',
       'Anime Series, Crime TV Shows, International TV Shows',
       'Reality TV, Romantic TV Shows',
       'International Movies, Music & Musicals, Romantic Movies',
       'Reality TV, TV Action & Adventure, TV Mysteries',
       'Crime TV Shows, TV Dramas',
       'International TV Shows, Reality TV, Spanish-Language TV Shows',
       'Crime TV Shows, TV Dramas, TV Thrillers',
       'British TV Shows, Docuseries',
       'International TV Shows, Korean TV Shows, TV Comedies',
       'Action & Adventure, Anime Features, Classic Movies',
       'TV Action & Adventure, TV Dramas, TV Horror',
       'Crime TV Shows, International TV Shows, TV Thrillers',
       'Anime Series, Crime TV Shows, TV Horror',
       'Anime Features, Documentaries', 'Comedies, Horror Movies',
       'International TV Shows, Spanish-Language TV Shows, Stand-Up Comedy & Talk Shows',
       'Children & Family Movies, Documentaries, International Movies',
       'Romantic TV Shows, TV Comedies, TV Dramas',
       'Dramas, Faith & Spirituality, Romantic Movies',
       'Dramas, Independent Movies, LGBTQ Movies',
       'Comedies, Independent Movies, LGBTQ Movies',
       'Action & Adventure, Cult Movies, Sci-Fi & Fantasy',
       'Cult Movies, Horror Movies',
       'Action & Adventure, Dramas, Sports Movies',
       'Anime Series, Romantic TV Shows, Teen TV Shows',
       'Dramas, International Movies, LGBTQ Movies',
       'Dramas, Romantic Movies, Thrillers',
       'Children & Family Movies, Dramas, Faith & Spirituality',
       'Dramas, International Movies, Sports Movies',
       'Action & Adventure, Horror Movies',
       'Documentaries, International Movies, LGBTQ Movies',
       'Dramas, Independent Movies, Sci-Fi & Fantasy',
       'Comedies, Independent Movies, International Movies',
       'Reality TV, TV Horror, TV Thrillers',
       'TV Action & Adventure, TV Horror, TV Sci-Fi & Fantasy',
       'International TV Shows, TV Horror, TV Sci-Fi & Fantasy',
       'Independent Movies, International Movies, Thrillers',
       'Independent Movies, Thrillers', 'Documentaries, Dramas',
       'Action & Adventure, Sports Movies',
       'Dramas, International Movies, Sci-Fi & Fantasy',
       'Comedies, Independent Movies, Romantic Movies',
       'Horror Movies, Romantic Movies, Sci-Fi & Fantasy',
       'International TV Shows, Stand-Up Comedy & Talk Shows',
       'Action & Adventure, Anime Features, Horror Movies',
       'Cult Movies, Dramas, Music & Musicals', 'TV Dramas, TV Thrillers',
       'Crime TV Shows, International TV Shows, Korean TV Shows',
       'TV Horror, TV Mysteries, TV Thrillers',
       'Comedies, Horror Movies, International Movies',
       'Crime TV Shows, Docuseries, TV Mysteries',
       'Comedies, International Movies, Sports Movies',
       'Classic Movies, Music & Musicals',
       'Reality TV, TV Comedies, TV Horror',
       'Children & Family Movies, Faith & Spirituality, Music & Musicals',
       'International TV Shows, Korean TV Shows, Stand-Up Comedy & Talk Shows',
       'Dramas, Music & Musicals',
       'Docuseries, Science & Nature TV, TV Action & Adventure',
       "British TV Shows, Kids' TV, TV Dramas",
       'International TV Shows, Korean TV Shows, Romantic TV Shows',
       'Horror Movies, Independent Movies',
       "Anime Series, Kids' TV, TV Action & Adventure",
       'Comedies, Dramas, Music & Musicals', 'TV Horror, Teen TV Shows',
       'Comedies, LGBTQ Movies, Thrillers',
       'Docuseries, Reality TV, Science & Nature TV',
       'Crime TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       'Romantic TV Shows, Teen TV Shows', 'TV Comedies, Teen TV Shows',
       'Romantic TV Shows, TV Dramas, Teen TV Shows',
       'Children & Family Movies, Sci-Fi & Fantasy',
       'Romantic TV Shows, TV Action & Adventure, TV Dramas',
       'Comedies, International Movies, LGBTQ Movies',
       'Dramas, Sci-Fi & Fantasy', "Kids' TV, TV Thrillers",
       'TV Action & Adventure, TV Comedies, TV Sci-Fi & Fantasy',
       'British TV Shows, Romantic TV Shows, TV Dramas',
       'Anime Series, International TV Shows, Spanish-Language TV Shows',
       'Docuseries, TV Comedies',
       'Comedies, Romantic Movies, Sports Movies',
       'TV Action & Adventure, TV Comedies, TV Dramas',
       'Children & Family Movies, Dramas, Sports Movies',
       'Action & Adventure, Dramas, Independent Movies',
       'Spanish-Language TV Shows, TV Dramas', 'Dramas, LGBTQ Movies',
       'TV Horror, TV Mysteries, TV Sci-Fi & Fantasy',
       'Action & Adventure, Dramas, Faith & Spirituality',
       'International TV Shows, TV Mysteries, TV Thrillers',
       'British TV Shows, Classic & Cult TV, International TV Shows',
       'Action & Adventure, Comedies, Independent Movies',
       'Music & Musicals', "British TV Shows, Kids' TV, TV Comedies",
       'Docuseries, Spanish-Language TV Shows',
       'Dramas, Independent Movies, Sports Movies',
       'TV Dramas, TV Mysteries, TV Thrillers',
       'Comedies, LGBTQ Movies, Music & Musicals',
       'International TV Shows, TV Action & Adventure, TV Mysteries',
       "Kids' TV, TV Comedies, Teen TV Shows",
       'International TV Shows, TV Dramas, TV Horror',
       'Comedies, International Movies, Thrillers',
       'Classic & Cult TV, TV Action & Adventure, TV Sci-Fi & Fantasy',
       'International TV Shows, TV Horror, TV Mysteries',
       'Children & Family Movies, Documentaries',
       'Music & Musicals, Romantic Movies', 'Romantic Movies',
       'Children & Family Movies, Classic Movies, Comedies',
       'TV Action & Adventure, TV Dramas',
       'Dramas, LGBTQ Movies, Romantic Movies',
       'Children & Family Movies, Comedies, Romantic Movies',
       'Comedies, Sports Movies', 'International Movies',
       'International TV Shows, Romantic TV Shows, TV Mysteries',
       'Stand-Up Comedy & Talk Shows',
       'Action & Adventure, International Movies, Romantic Movies',
       'Reality TV, TV Comedies',
       'Cult Movies, Dramas, International Movies', "Kids' TV, TV Dramas",
       'Crime TV Shows, International TV Shows, TV Mysteries',
       'Action & Adventure, Sci-Fi & Fantasy, Sports Movies',
       'TV Dramas, TV Sci-Fi & Fantasy, TV Thrillers',
       'Romantic TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Docuseries, TV Sci-Fi & Fantasy',
       'Anime Features, International Movies',
       "British TV Shows, Classic & Cult TV, Kids' TV",
       'British TV Shows, Reality TV, Romantic TV Shows',
       'Documentaries, Faith & Spirituality, International Movies',
       "Kids' TV, Reality TV, TV Dramas", 'LGBTQ Movies, Thrillers',
       'TV Action & Adventure, TV Mysteries, TV Sci-Fi & Fantasy',
       'Reality TV, Science & Nature TV',
       "Kids' TV, TV Action & Adventure, TV Comedies",
       'International TV Shows, Romantic TV Shows, TV Action & Adventure',
       'Children & Family Movies, Dramas, Independent Movies',
       'Comedies, Music & Musicals, Romantic Movies',
       'International TV Shows, Korean TV Shows, Reality TV',
       'Classic & Cult TV, TV Dramas, TV Sci-Fi & Fantasy',
       'Anime Features, Children & Family Movies',
       'Action & Adventure, International Movies, Sci-Fi & Fantasy',
       'Crime TV Shows, TV Action & Adventure, TV Dramas',
       'Classic & Cult TV, TV Action & Adventure, TV Horror',
       'International TV Shows, Korean TV Shows, TV Dramas',
       'International TV Shows, TV Action & Adventure, TV Horror',
       'Action & Adventure, Comedies, Romantic Movies',
       'International TV Shows, Korean TV Shows, TV Action & Adventure',
       "Classic & Cult TV, Kids' TV, TV Action & Adventure",
       'Anime Series, International TV Shows, TV Horror',
       'International TV Shows, Korean TV Shows, TV Horror',
       'Children & Family Movies, Comedies, International Movies',
       'International Movies, Sci-Fi & Fantasy',
       'International Movies, Sci-Fi & Fantasy, Thrillers',
       'Children & Family Movies, Dramas, Romantic Movies',
       'Anime Series, Romantic TV Shows',
       'Comedies, Dramas, LGBTQ Movies',
       'British TV Shows, International TV Shows, TV Action & Adventure',
       'Docuseries, Science & Nature TV, TV Comedies',
       'International TV Shows, Stand-Up Comedy & Talk Shows, TV Comedies',
       'Children & Family Movies, Dramas, Music & Musicals',
       'Action & Adventure, Independent Movies, International Movies',
       'Action & Adventure, Children & Family Movies, Sci-Fi & Fantasy',
       'Horror Movies, Independent Movies, Sci-Fi & Fantasy',
       'TV Dramas, TV Sci-Fi & Fantasy, Teen TV Shows',
       'Anime Features, International Movies, Sci-Fi & Fantasy',
       'Dramas, Independent Movies, Music & Musicals',
       "Kids' TV, TV Comedies, TV Dramas",
       'Children & Family Movies, Documentaries, Sports Movies',
       'Independent Movies, Sci-Fi & Fantasy, Thrillers',
       'Anime Features, Music & Musicals, Sci-Fi & Fantasy',
       'TV Comedies, TV Dramas, TV Sci-Fi & Fantasy',
       'Crime TV Shows, TV Action & Adventure',
       'Comedies, Faith & Spirituality, Romantic Movies',
       "Kids' TV, TV Action & Adventure",
       'Action & Adventure, Independent Movies',
       'International TV Shows, Reality TV, TV Comedies',
       'Docuseries, Reality TV, Teen TV Shows',
       'Crime TV Shows, International TV Shows, Reality TV',
       'Anime Series, Teen TV Shows',
       'Crime TV Shows, Romantic TV Shows, TV Dramas',
       'Anime Features, Romantic Movies',
       'Horror Movies, Sci-Fi & Fantasy, Thrillers',
       'International TV Shows, TV Comedies, TV Sci-Fi & Fantasy',
       'International TV Shows, Romantic TV Shows',
       'Anime Features, Music & Musicals',
       'Anime Features, International Movies, Romantic Movies',
       'International TV Shows, Romantic TV Shows, Teen TV Shows',
       'Docuseries, Stand-Up Comedy & Talk Shows',
       'Horror Movies, Independent Movies, Thrillers',
       'TV Action & Adventure, TV Comedies, TV Horror',
       'Documentaries, Stand-Up Comedy',
       "Kids' TV, Spanish-Language TV Shows",
       "British TV Shows, Kids' TV, TV Thrillers",
       "Kids' TV, TV Action & Adventure, TV Dramas",
       'Anime Series, Crime TV Shows',
       'Dramas, Sci-Fi & Fantasy, Thrillers',
       'TV Comedies, TV Dramas, TV Horror',
       'Children & Family Movies, Comedies, LGBTQ Movies',
       'International TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy',
       'Docuseries, TV Dramas',
       'Horror Movies, International Movies, Romantic Movies',
       'Crime TV Shows, Docuseries, Science & Nature TV',
       'International Movies, Music & Musicals, Thrillers',
       "Kids' TV, Spanish-Language TV Shows, Teen TV Shows",

In [27]:
### Nuevamente, tenemos muchos generos que estan juntos en un string, estaria bueno estandarizar/homogeneizar esto en listas
import re
df_copy['listed_in'] = df_copy['listed_in'].apply(lambda row: re.split(',|&', row) if type(row) != float else row)
df_copy['listed_in'] = df_copy['listed_in'].apply(lambda row: [genre.strip() for genre in row] if type(row) == list else row)

In [28]:
### Genres en general parecen estar OK!
df_copy['listed_in'].explode().unique()

array(['Documentaries', 'International TV Shows', 'TV Dramas',
       'TV Mysteries', 'Crime TV Shows', 'TV Action', 'Adventure',
       'Docuseries', 'Reality TV', 'Romantic TV Shows', 'TV Comedies',
       'TV Horror', 'Children', 'Family Movies', 'Dramas',
       'Independent Movies', 'International Movies', 'British TV Shows',
       'Comedies', 'Spanish-Language TV Shows', 'Thrillers',
       'Romantic Movies', 'Music', 'Musicals', 'Horror Movies', 'Sci-Fi',
       'Fantasy', 'TV Thrillers', "Kids' TV", 'Action', 'TV Sci-Fi',
       'Classic Movies', 'Anime Features', 'Sports Movies',
       'Anime Series', 'Korean TV Shows', 'Science', 'Nature TV',
       'Teen TV Shows', 'Cult Movies', 'TV Shows', 'Faith',
       'Spirituality', 'LGBTQ Movies', 'Stand-Up Comedy', 'Movies',
       'Talk Shows', 'Classic', 'Cult TV', nan], dtype=object)

<h2 align="center",  style="background: salmon; color:black">Primeras conclusiones</h2><br>
<h4>Nos encontramos con dos contenidos con data totalmente erronea, uno de ellos puede ser eliminado (ID: and probably will.")
    ya que posee casi toda su metadata nula. Por el lado del ID Flying Fortress" casi toda su data esta mezclada entre si, deberia ordenarse.<br>
    Nos encontramos con ciertos contenidos que tienen un dato erroneo en alguna de sus columnas, como es el caso de rating el cual contiene duraciones.<br>
    Vemos, que se necesita estandarizar un poco más la mayoria de las columnas, por ejemplo, la columna duración solo deberia ser un dato tipo entero, y en el caso de que sea serie setearse a None, aca podria incluirse otra columna llamada Seasons la cual describiria la cantidad de temporadas que contiene una serie (en movies iria None). Directors, Cast, Country, ListedIn deberian ir estar en formato lista compuestas unicamente por elementos, ejemplo:<br><br>
    director = ['nombre1', 'nombre2']<br>
    cast = ['nombre1', 'nombre2']<br>
    country = ['pais1', 'pais2']<br>
    listed_in = ['genero1', 'genero2']<br><br>
Esto nos ordenaria aun más las columnas, limpiandolas de caracteres como (,|&|etc). Countries podrian ir en codigo ISO en vez de ir completos.<br>

In [29]:
### Vamos a seguir un poco con caracteres especiales
### titles
pd.options.display.max_colwidth = 10000
special_characters.append('\n')
special_characters.append('\t')
special_characters.append('\r')

for character in special_characters:
    special = df[df['title'].str.contains(character, regex=False) == True]
    print(f'\nCHARACTER {character}', '\n\n', special['title'])

CHARACTER !

 23                      Go! Go! Cory Carson: Chrissy Takes the Wheel
161                                                    Mars Attacks!
209                              Once Upon a Time in Mumbai Dobaara!
254                                              Go! Go! Cory Carson
388                          Plastic Cup Boyz: Laughing My Mask Off!
                                    ...
8493    The Rolling Stones: Olé Olé Olé! A Trip Across Latin America
8525                               The Super Mario Bros. Super Show!
8600                To Wong Foo, Thanks for Everything! Julie Newmar
8721                                        What a Wonderful Family!
8797                                                 Yu-Gi-Oh! Arc-V
Name: title, Length: 124, dtype: object

CHARACTER "

 2041                             Waiting for "Superman"
4153       Gabriel "Fluffy" Iglesias: One Show Fits All
6273    Behind "The Cove": The Quiet Japanese Speak Out
6704                   Escape from the "Liberty" Cinema
Name: title, dtype: object

CHARACTER #

 654                           #Selfie
655                        #Selfie 69
2036                           #Alive
2304    #AnneFrank - Parallel Stories
2324              #FriendButMarried 2
2481                #FriendButMarried
2666                         #blackAF
5277                     #realityhigh
5695                        #Rucker50
5972                 #cats_the_mewvie
5973                            #Roxy
Name: title, dtype: object

CHARACTER $

 Series([], Name: title, dtype: object)

CHARACTER %

 1433                 100% Halal
2127                         3%
4482    ADAM SANDLER 100% FRESH
5984                100% Hotter
Name: title, dtype: object

CHARACTER &

 1                                  Blood & Water
88      Blood Brothers: Malcolm X & Muhammad Ali
98                     Octonauts: Above & Beyond
170                               Rhyme & Reason
185                    Untold: Crime & Penalties
                          ...
7941                                Satan & Adam
8065                             Speech & Debate
8467                             The Prince & Me
8703           Water & Power: A California Heist
8747         Willy Wonka & the Chocolate Factory
Name: title, Length: 179, dtype: object

CHARACTER '

 16      Europe's Most Dangerous Man: Otto Skorzeny in Spain
74                The World's Most Amazing Vacation Rentals
106                                                  Bunk'd
128                         Agatha Christie's Crooked House
154                                     Kuroko's Basketball
                               ...
8738                                          Who's the One
8752                                          Winter's Bone
8760                                 World's Busiest Cities
8761                                 World's Weirdest Homes
8792                          You Don't Mess with the Zohan
Name: title, Length: 393, dtype: object

CHARACTER (

 79                  Tughlaq Durbar (Telugu)
237                         Boomika (Hindi)
238                     Boomika (Malayalam)
239                        Boomika (Telugu)
338                  Hunter X Hunter (2011)
                       ...
8298               The Figurine (Araromire)
8341       The Heat: A Kitchen (R)evolution
8444                      The Office (U.S.)
8543    The Twilight Zone (Original Series)
8630         Trikal (Past, Present, Future)
Name: title, Length: 76, dtype: object

CHARACTER )

 79                  Tughlaq Durbar (Telugu)
237                         Boomika (Hindi)
238                     Boomika (Malayalam)
239                        Boomika (Telugu)
338                  Hunter X Hunter (2011)
                       ...
8298               The Figurine (Araromire)
8341       The Heat: A Kitchen (R)evolution
8444                      The Office (U.S.)
8543    The Twilight Zone (Original Series)
8630         Trikal (Past, Present, Future)
Name: title, Length: 76, dtype: object

CHARACTER *

 1502                      London Hughes: To Catch a D*ck
1686                        Kevin Hart: Zero F**ks Given
2315                                    The F**k-It List
3092                      Kevin Hart: Don’t F**k This Up
3121    Don't F**k with Cats: Hunting an Internet Killer
3234                            What the F* Is Going On?
3306                        The End of the F***ing World
3460             Salam - The First ****** Nobel Laureate
4235                          Gina Yashere: Skinny B*tch
4247                        Tim Minchin: So F**king Rock
4250                   Pioneers: First Women Filmmakers*
5017            Trailer Park Boys Live In F**kin' Dublin
8736                           Who the F**k Is That Guy?
Name: title, dtype: object

CHARACTER +

 93                                                     JJ+E
1200                                        Waffles + Mochi
2384    The Show Must Go On: The Queen + Adam Lambert Story
3440                                          Rhythm + Flow
5756                 Justin Timberlake + the Tennessee Kids
Name: title, dtype: object

CHARACTER ,

 10                   Vendetta: Truth, Lies and The Mafia
140                  El patrón, radiografía de un crimen
206                            LSD: Love, Sex Aur Dhokha
221          Bob Ross: Happy Accidents, Betrayal & Greed
658                                        Nevertheless,
                              ...
8600    To Wong Foo, Thanks for Everything! Julie Newmar
8630                      Trikal (Past, Present, Future)
8649                         Twisted Trunk, Big Fat Body
8709                                     We, the Marines
8795                                Yours, Mine and Ours
Name: title, Length: 138, dtype: object

CHARACTER -

 40                                                        He-Man and the Masters of the Universe
77                                                                 Little Singham - Black Shadow
124                                                                  Pororo - The Little Penguin
125                                                                                      Q-Force
153                                                                                   Kid-E-Cats
                                                  ...
8464    The Power of Grayskull: The Definitive History of He-Man and the Masters of the Universe
8587                                                                       Three-Quarters Decent
8782                                                                                Yo-Kai Watch
8783                                                                     Yo-Kai Watch: The Movie
8797                                                                             Yu-Gi-Oh! Arc-V
Name: title, Length: 202, dtype: object

CHARACTER .

 75                 You vs. Wild: Out Cold
193                                  D.P.
205     Kyo Kii... Main Jhuth Nahin Bolta
625                                Somos.
731       Love (ft. Marriage and Divorce)
                      ...
8691                           Waiting...
8720               Westside vs. the World
8763                            Wrong No.
8771               Y.M.I.: Yeh Mera India
8781                        Yes or No 2.5
Name: title, Length: 146, dtype: object

CHARACTER /

 181     Turning Point: 9/11 and the War on Terror
638                                      Sex/Life
790                                  Dream/Killer
1202                                  C/O Kaadhal
1732                               Alone/Together
1965          High & Low The Movie 2 / End of Sky
1966       High & Low The Movie 3 / Final Mission
2067               Fate/Grand Order -First Order-
3034                                  Giri / Haji
3736                                    Fate/Zero
3801                                    WHAT / IF
4279       Fate/stay night: Unlimited Blade Works
4469                       Fate/EXTRA Last Encore
4477                                      W/O Ram
5178                               Fate/Apocrypha
5885                               W/ Bob & David
6019                                        50/50
8435       The Naked Gun 2 1/2: The Smell of Fear
Name: title, dtype: object

CHARACTER :

 6                          My Little Pony: A New Generation
10                      Vendetta: Truth, Lies and The Mafia
14                          Crime Stories: India Detectives
16      Europe's Most Dangerous Man: Otto Skorzeny in Spain
20          Monsters Inside: The 24 Faces of Billy Milligan
                               ...
8741                     Why We Fight: The Battle of Russia
8765                        WWII: Report from the Aleutians
8769                                XXX: State of the Union
8771                                 Y.M.I.: Yeh Mera India
8783                                Yo-Kai Watch: The Movie
Name: title, Length: 1455, dtype: object

CHARACTER ;

 Series([], Name: title, dtype: object)

CHARACTER <

 Series([], Name: title, dtype: object)

CHARACTER =

 6022    6-5=2
Name: title, dtype: object

CHARACTER >

 Series([], Name: title, dtype: object)

CHARACTER ?

 467           Private Network: Who Killed Manuel Buendía?
869                                      Who Killed Sara?
906          Have You Ever Seen Fireflies? - Theatre Play
1070                                 Why Did You Kill Me?
1176                                Any Crybabies Around?
1411                          What Would Sophia Loren Do?
1428                                  Is Love Enough? Sir
1468                            What Happened to Mr. Cha?
1690                                       Whose Streets?
1733                      Carmel: Who Killed Maria Marta?
1746                                     Can You Hear Me?
2126                                 What's Your Raashee?
2255                                         Was It Love?
2365                                  Alexandria ... Why?
2441                                           What's Up?
2500                                   What Are the Odds?
2865                   Voulez-vous rire avec moi ce soir?
2944                                Who Killed Malcolm X?
2958    Is It Wrong to Try to Pick Up Girls in a Dungeon?
3007                                    WHAT DID JACK DO?
3078                 Albert Pinto Ko Gussa Kyun Aata Hai?
3148                               What's New Scooby-Doo?
3203                                              Why Me?
3234                             What the F* Is Going On?
3255                           Who Killed Little Gregory?
3512      Sebastian Maniscalco: What's Wrong with People?
3635                    Whitney Cummings: Can I Touch It?
3856                                             What If?
3921             Who Would You Take to a Deserted Island?
4209                                           Next Enti?
4322               ReMastered: Who Killed Jam Master Jay?
4513                  Feminists: What Were They Thinking?
4540                         Eric ldle's What About Dick?
4701                                   For Here or to Go?
4790                                    Anthony Kaun Hai?
4869                                    The Who Was? Show
4883           Si saben cómo me pongo ¿pá qué me invitan?
5352            Have You Ever Fallen in Love, Miss Jiang?
5513                          What in the World Happened?
5535                                Kevin Hart: What Now?
5646                       Jen Kirkman: Just Keep Livin’?
5820        Lavell Crawford: Can a Brother Get Some Love?
5906                          What Happened, Miss Simone?
6183                                     Are We Done Yet?
6413                                  Can We Get Married?
6491               Clarence Clemons: Who Do I Think I Am?
6656                     E-Cigarettes: Miracle or Menace?
6732                                     Fake or Fortune?
6940                           Have You Seen the Listers?
7501            Monster High: Why Do Ghouls Fall in Love?
7692                       Pablo Escobar: Angel or Demon?
7980                                          Sen Kimsin?
8723                                        What Is Love?
8725                             What Makes a Psychopath?
8727                                 What's Up With Love?
8736                            Who the F**k Is That Guy?
8737                      Who's That Knocking at My Door?
8739                           Why Are We Getting So Fat?
Name: title, dtype: object

CHARACTER @

 4272    Love @ Seventeen
7083         Inst@famous
Name: title, dtype: object

CHARACTER [

 Series([], Name: title, dtype: object)

CHARACTER \

 Series([], Name: title, dtype: object)

CHARACTER ]

 Series([], Name: title, dtype: object)

CHARACTER ^

 Series([], Name: title, dtype: object)

CHARACTER _

 318     Shiny_Flakes: The Teenage Drug Lord
2645           Ghost in the Shell: SAC_2045
5972                       #cats_the_mewvie
Name: title, dtype: object

CHARACTER `

 Series([], Name: title, dtype: object)

CHARACTER {

 Series([], Name: title, dtype: object)

CHARACTER |

 781     Black Holes | The Edge of All We Know
3692    Hatchimals | Adventures in Hatchtopia
Name: title, dtype: object

CHARACTER }

 Series([], Name: title, dtype: object)

CHARACTER ~

 3184    The Prince of Tennis ~ Match! Tennis Juniors ~
Name: title, dtype: object

CHARACTER


 Series([], Name: title, dtype: object)

CHARACTER

 Series([], Name: title, dtype: object)



 Series([], Name: title, dtype: object)

In [30]:
df.head(6)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Action & Adventure","To protect his family from a powerful drug lord, skilled thief Mehdi and his expert team of robbers are pulled into a violent and deadly turf war."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down among the incarcerated women at the Orleans Justice Center in New Orleans on this gritty reality series."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV Comedies","In a city of coaching centers known to train India’s finest collegiate minds, an earnest but unexceptional student and his friends navigate campus life."
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, Henry Thomas, Kristin Lehman, Samantha Sloyan, Igby Rigney, Rahul Kohli, Annarah Cymone, Annabeth Gish, Alex Essoe, Rahul Abburi, Matt Biedel, Michael Trucco, Crystal Balint, Louis Oliver",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries","The arrival of a charismatic young priest brings glorious miracles, ominous mysteries and renewed religious fervor to a dying town desperate to believe."

In [31]:
### directors
for character in special_characters:
    special = df[df['director'].str.contains(character, regex=False) == True]
    print(f'\nCHARACTER {character}', '\n\n', special['director'])

CHARACTER !

 2319    Younuts!
Name: director, dtype: object

CHARACTER "

 3960    Sam "Blitz" Bazawule
Name: director, dtype: object

CHARACTER #

 Series([], Name: director, dtype: object)

CHARACTER $

 Series([], Name: director, dtype: object)

CHARACTER %

 Series([], Name: director, dtype: object)

CHARACTER &

 1874    Bigflo & Oli, Jérémie Levypon
3285                  Gautier & Leduc
Name: director, dtype: object

CHARACTER '

 167                                                                                                                                                         Matthew O'Callaghan, Todd Wilderman
913                                                                                                                                                                      Stanley Menino D'Costa
1190                                                                                                                                                                             Liam O'Donnell
1403                                                                                                                                                                               Cris D'Amato
1417                                                                                                                                                                        Francisco D'Eufemia
1600                                                                                                                                                                          Darragh O'Connell
1836                                                                                                                                                        David 'Tosh' Gitonga, Michael Jones
2268                                                                                                                                                                            Anthony D'Souza
2686                                                                                                                                                                                Matt D'Elia
2747                                                                                                                                                                             Renzil D'Silva
3157                                                                                                                                                                         Richard van't Riet
3311                                                                                                                                                                              Matt D'Avella
4180                                                                                                                                                                               André D'Elia
4422                                                                                                                                                                               Remo D'Souza
4423                                                                                                                                                                               Remo D'Souza
4580                                                                                                                                                                             Renzil D'Silva
4812                                                                                                                                                                      Federico D'Alessandro
4927                                                                                                                                                                             Liam O'Donnell
5416                                                                                                                                                                                Bill D'Elia
5560                                                                                                                                                                              Meghan O'Hara
5561                                                                                                                                                                              Tommy O'Haver
5913                                                                                                                                                                                Bill D'Elia
6035                                                                                                                                                                               Remo D'Souza
6202                                                                                                                                                                            Anthony D'Souza
6419                                                                                                                                                                              Mark O'Connor
6910    Shinji Aramaki, Mamoru Oshii, Hideki Futamura, Toshiyuki Kanno, Tomoki Kyoda, Koichi Mashimo, Yasushi Muraki, Daisuke Nishio, Frank O'Connor, Koji Sawai, Joseph Chou, Hiroshi Yamazaki
7012                                                                                                                                                                                 Tom O'Dell
7355                                                                                                                                                                                Alma Har'el
7397                                                                                                                                                                                Tom O'Brien
7421                                                                                                                                                                           Pablo D'Alo Abba
7460                                                                                                                                                                             Gavin O'Connor
7665                                                                                                                                                                            Jasmine D'Souza
8063                                                                                                                                                                                Sam O'Steen
8400                                                                                                                                                                             Brian O'Malley
Name: director, dtype: object

CHARACTER (

 Series([], Name: director, dtype: object)

CHARACTER )

 Series([], Name: director, dtype: object)

CHARACTER *

 Series([], Name: director, dtype: object)

CHARACTER +

 Series([], Name: director, dtype: object)

CHARACTER ,

 6                                       Robert Cullen, José Luis Ucha
16                      Pedro de Echave García, Pablo Azorín Williams
23                                            Alex Woo, Stanley Moore
30             Ashwiny Iyer Tiwari, Abhishek Chaubey, Saket Chaudhary
68               Hanns-Bruno Kammertöns, Vanessa Nöcker, Michael Wech
                                    ...
8729                                        Ritu Sarin, Tenzing Sonam
8730                                  Heidi Brandenburg, Mathew Orzel
8739                           Milla Harrison-Hansley, Alicky Sussman
8741                                      Frank Capra, Anatole Litvak
8767    Jovanka Vuckovic, Annie Clark, Roxanne Benjamin, Karyn Kusama
Name: director, Length: 614, dtype: object

CHARACTER -

 68      Hanns-Bruno Kammertöns, Vanessa Nöcker, Michael Wech
81                                     Cedric Nicolas-Troyan
128                                    Gilles Paquet-Brenner
130                                    Scott Pleydell-Pearce
151                           Andrew Lau Wai-keung, Alan Mak
                                ...
8564                                         Emil Ben-Shimon
8615                                            Sang-ho Yeon
8633                                     Nicholas Zeig-Owens
8739                  Milla Harrison-Hansley, Alicky Sussman
8791                                     Cathy Garcia-Molina
Name: director, Length: 195, dtype: object

CHARACTER .

 22                   K.S. Ravikumar
24                       S. Shankar
71                  David A. Vargas
141                Steven C. Miller
177                 J. Lee Thompson
                   ...
8682            P.T. Kunju Muhammad
8695    Alex Smith, Andrew J. Smith
8696               Philip G. Atwell
8715                Ashish R. Mohan
8771                     N. Chandra
Name: director, Length: 280, dtype: object

CHARACTER /

 Series([], Name: director, dtype: object)

CHARACTER :

 Series([], Name: director, dtype: object)

CHARACTER ;

 Series([], Name: director, dtype: object)

CHARACTER <

 Series([], Name: director, dtype: object)

CHARACTER =

 Series([], Name: director, dtype: object)

CHARACTER >

 Series([], Name: director, dtype: object)

CHARACTER ?

 Series([], Name: director, dtype: object)

CHARACTER @

 Series([], Name: director, dtype: object)

CHARACTER [

 Series([], Name: director, dtype: object)

CHARACTER \

 Series([], Name: director, dtype: object)

CHARACTER ]

 Series([], Name: director, dtype: object)

CHARACTER ^

 Series([], Name: director, dtype: object)

CHARACTER _

 Series([], Name: director, dtype: object)

CHARACTER `

 Series([], Name: director, dtype: object)

CHARACTER {

 Series([], Name: director, dtype: object)

CHARACTER |

 Series([], Name: director, dtype: object)

CHARACTER }

 Series([], Name: director, dtype: object)

CHARACTER ~

 Series([], Name: director, dtype: object)

CHARACTER


 Series([], Name: director, dtype: object)

CHARACTER

 Series([], Name: director, dtype: object)



 Series([], Name: director, dtype: object)

In [32]:
### cast
for character in special_characters:
    special = df[df['cast'].str.contains(character, regex=False) == True]
    print(f'\nCHARACTER {character}', '\n\n', special['cast'])

CHARACTER !

 213    King & Prince, Hey! Say! JUMP, KAT-TUN, NEWS, Kansai Johnny's Jr., Snow Man, Tomoyuki Yara, Travis Japan, Bi shonen, SixTONES, HiHi Jets, Kis-My-Ft2, Koichi Domoto
Name: cast, dtype: object

CHARACTER "

 73                                                                                                                                                                                                                                                                                          Sola Sobowale, Adesua Etomi, Remilekun "Reminisce" Safaru, Tobechukwu "iLLbliss" Ejiofor, Toni Tones, Paul Sambo, Jide Kosoko, Sharon Ooja
170     Too $hort, B-Real, Kurtis Blow, Da Brat, Grandmaster Caz, Sean "P. Diddy" Combs, Chuck D., Desiree Densiti, Dr. Dre, E-40, MC Eiht, Heavy D, Lauryn Hill, Ice-T, Wyclef Jean, Ras Kass, KRS-One, L.V., Mack 10, Craig Mack, Method Man, Keith Murray, Nasir 'Nas' Jones, The Notorious B.I.G., Master P, Q-Tip, Raekwon, Redman, Senen Reyes, Busta Rhymes, RZA, DJ Scratch, Erick Sermon, Tupac Shakur, Adario Strange, Suave
198                                                                                                                                          Sola Sobowale, Toni Tones, Richard Mofe-Damijo, Efa Iwara, Titi Kuti, Tobechukwu "iLLbliss" Ejiofor, Remilekun "Reminisce" Safaru, Charles  "Charly Boy" Oputa, Nse Ikpe-Etim, Keppy Ekpenyong Bassey, Bimbo Manuel, Akin Lewis, Lord Frank, Osas Ighodaro, Taiwo Ajai-Lycett, Paul Sambo
309                                                                                                                                                                                                                                                                                                                                                       Mark Towle, Shawn Pilot, Constance Nunes, Tony Quinones, Mike "Caveman" Pyle
732                                                                                                                                                                                                                                                                           Cast members of the "To All the Boys" films dish about the third movie and answer some fan questions, plus Whitney Cummings gives suspect dating advice.
1248                                                                                                                                                                                                                                                                                                                                                                                       The Notorious B.I.G., Sean "P. Diddy" Combs
1251                                                                                                                                                                                                                                                           Kevin Costner, Mary McDonnell, Rodney Grant, Graham Greene, Floyd "Red Crow" Westerman, Tantoo Cardinal, Robert Pastorelli, Charles Rocket, Maury Chaykin, Jimmy Herman
1411                                                                                                                                                                                                                                                                                                                                                                                       Nancy "Vincenza Careri" Kulik, Sophia Loren
1415                                                                                                                                                                                                                                                                                  Sienna Miller, Alec Baldwin, Charles Grodin, Colleen Camp, John Buffalo Mailer, Nick Mathews, Steven Prescod, Oliver "Power" Grant, James Toback
1548                                                                                                                                                                                                                         Jamie Chung, Landon Lueck, Diem Brown, Mike 'The Miz' Mizanin, Darrell Taylor, Wes Bergmann, Jodi Weatherton, Brad Fiorenza, Cara Maria Sorbello, Zachary Nichols, Turabi "Turbo" Çamkıran, Theo Campbell
1768                                                                                                                                                                                                                                                                                           Pat Morita, Hilary Swank, Michael Ironside, Constance Towers, Chris Conrad, Arsenio "Sonny" Trinidad, Michael Cavalieri, Walton Goggins
2137                                                                                                                                                                                                                                                                                                     Mina Farid, Zahia Dehar, Benoît Magimel, Nuno Lopes, Clotilde Courau, Loubna Abidar, "Riley" Lakdhar Dridi, Henri-Noël Tabary
2210                                                                                                                                                               Marta Etura, Leonardo Sbaraglia, Carlos Librado "Nene", Francesc Orella, Imanol Arias, Álvaro Cervantes, Itziar Aizpuru, Benn Northover, Marta Larralde, Alicia Sánchez, Eduardo Rosa, Angel Alkain, Ana Wagener, Paco Tous, Patricia López Arnaiz, Pedro Casablanc
2673                                                                                                                                                                                                                                                        Marta Etura, Carlos Librado "Nene", Leonardo Sbaraglia, Francesc Orella, Imanol Arias, Benn Northover, Itziar Aizpuru, Patricia López Arnaiz, Alicia Sánchez, Eduardo Rosa
3812                                                                                                                                                                                                                                                                            Solvan "Slick" Naim, Rob Morgan, Shakira Barrera, Jade Eshete, Adriane Lenox, Donnell Rawlings, Eden Marryshow, Sam Eliad, Devale Ellis, J. Ray Acosta
4529                                                                                                                                                                                                                                                                                                                                                                                                   Justin "Alyssa Edwards" Johnson
5678                                                                                                                                                                                                                                                                                                                                   Ricardo O'Farrill, Carlos Ballarta, Sofía Niño de Rivera, Chumel Torres, Marissa "Chabe" Lozano
5786                                                                                                                                                                                                                                                                                                                                                                                       Karol Modzelewski, Łukasz "Lotek” Lodkowski
5891                                                                                                                                                                                                                                                                Idris Elba, Abraham Attah, Kurt Egyiawan, Jude Akuwudike, Emmanuel "King Kong" Nii Adom Quaye, Ama K. Abebrese, Kobina Amissah Sam, Francis Weddey, Richard Pepple
6209                                                                                                                                                                                                                                                                                                                                 Black Deniro, Byron "Squally" Vinson, Dominic Costa, Nick Ferraro, Peter Ferriero, Jowharah Jones
6573                                                                                                                                                                                                                                                                                     Devin Blackmon, Dontrell Bright, Kordell "KD" Johnson, Lachion Buckingham, Chasity Moore, Marquell Manning, Shavidee Trotter, Maurice Everett
6839                                                                                                                                                                                                                                                                                   Jonah Hill, Russell Brand, Elisabeth Moss, Rose Byrne, Colm Meaney, Sean "P. Diddy" Combs, Aziz Ansari, Carla Gallo, Nick Kroll, Kristen Schaal
7030                                                                                                                                                                                                                              Roy Haylock, Bianca Leigh, Denton Blane Everett, Willam Belli, D.J. "Shangela" Pierce, Justin "Alyssa Edwards" Johnson, Molly Ryman, Ted Ferguson, Rachel Dratch, Alan Cumming, Margaret Cho, RuPaul
7031                                                                                                                                                                                                                                                                 Roy Haylock, Rachel Dratch, Brian McCook, D.J. "Shangela" Pierce, Doug Plaut, Cheyenne Jackson, Kristen Johnston, Heather McDonald, Wanda Sykes, Janeane Garofalo
7718                                                                                                                                                                                                                                                                                                                                                         Corey Harrison, Richard Harrison, Rick Harrison, Austin "Chumlee" Russell
Name: cast, dtype: object

CHARACTER #

 Series([], Name: cast, dtype: object)

CHARACTER $

 170     Too $hort, B-Real, Kurtis Blow, Da Brat, Grandmaster Caz, Sean "P. Diddy" Combs, Chuck D., Desiree Densiti, Dr. Dre, E-40, MC Eiht, Heavy D, Lauryn Hill, Ice-T, Wyclef Jean, Ras Kass, KRS-One, L.V., Mack 10, Craig Mack, Method Man, Keith Murray, Nasir 'Nas' Jones, The Notorious B.I.G., Master P, Q-Tip, Raekwon, Redman, Senen Reyes, Busta Rhymes, RZA, DJ Scratch, Erick Sermon, Tupac Shakur, Adario Strange, Suave
1089                                                                                                                                                                                                                                                                                                                                                                                                 Joey Bada$$, Andrew Howard, Zaria
Name: cast, dtype: object

CHARACTER %

 Series([], Name: cast, dtype: object)

CHARACTER &

 213                                                                                                                                                                                                                               King & Prince, Hey! Say! JUMP, KAT-TUN, NEWS, Kansai Johnny's Jr., Snow Man, Tomoyuki Yara, Travis Japan, Bi shonen, SixTONES, HiHi Jets, Kis-My-Ft2, Koichi Domoto
893                                                                                                                                                                                                                                                                               Maliq & D'Essentials, Fourtwnty, Gede Robi, Nadin Amizah, Ananda Badudu, Leanna Rachel, Rio Dewanto, Chicco Jerikho
1771    Loo Nascimento, Ingrid Silva, Rincon Sapiência, Batekoo, Gabriel Martins, Benjamin Abras, Daniele DaMata, Tasha & Tracie Okereke, Mariana de Matos, André Novais, Mahal Pita, Grace Passô, Thamyra Thâmara, Xenia França, Criola, Dani Ornellas, Anelis Assumpção, Magá Moura, Tássia Reis, Liniker, Yasmin Thayná, Raquel Virgínia, Juliana Luna, Erica Malunguinho, Diane Lima, Karol Conká
1874                                                                                                                                                                                                                                                                                                                                                                                     Bigflo & Oli
4938                                                                                                                Seth Rogen, Ike Barinholtz, Michael Che, Sacha Baron Cohen, Jeff Goldblum, Tiffany Haddish, Chris Hardwick, Nick Kroll, John Mulaney, Kumail Nanjiani, Chelsea Peretti, Craig Robinson & The Nasty Delicious, Lauren Miller Rogen, Justin Roiland, Sarah Silverman, Michelle Wolf
Name: cast, dtype: object

CHARACTER '

 9                                 Melissa McCarthy, Chris O'Dowd, Kevin Kline, Timothy Olyphant, Daveed Diggs, Skyler Gisondo, Laura Harrier, Rosalind Chao, Kimberly Quinn, Loretta Devine, Ravi Kapoor
31                                          Lauren Ash, Rory O'Malley, RuPaul Charles, Jill Talley, Ike Barinholtz, Jon Barinholtz, Matthew Craig, Bob Odenkirk, Mike Hagerty, Katie Rich, Chris Witaske
94                      Will Arnett, Ludacris, Natasha Lyonne, Stanley Tucci, Jordin Sparks, Gabriel Iglesias, Shaquille O'Neal, Omar Chaparro, Alan Cumming, Andy Beckwith, Delia Sheppard, Kerry Shale
108                                                                              Aubri Ibrag, Sana'a Shaik, Miah Madden, Mercy Cornwall, Georgia-May Davis, Ryan Harrison, Josh Heuston, Alexander Grant
149                   Master P, Anthony Johnson, Gretchen Palmer, Frantz Turner, Richard Keats, Joe Estevez, William Knight, Anthony Boswell, Tommy 'Tiny' Lister, Helen Martin, John Witherspoon, Mia X
                                                                                                      ...
8693                              Bryan Cranston, Jennifer Garner, Jason O'Mara, Beverly D'Angelo, Ian Anthony Dale, Pippa Bennett-Warner, Isaac Leyva, Victoria Bruno, Ellery Sprayberry, Tracey Walter
8726                                                     Lulu Antariksa, Colin O'Donoghue, Mimi Rogers, Peter O'Brien, Dohn Norwood, Jeff Kober, Roshon Fegan, Siena Goines, Chris Ellis, Tobias Jelinek
8766    Kevin Costner, Dennis Quaid, Gene Hackman, David Andrews, Linden Ashby, Jeff Fahey, Joanna Going, Mark Harmon, Michael Madsen, Catherine O'Hara, Bill Pullman, Isabella Rossellini, Tom Sizemore
8783                                                                                               Johnny Yong Bosch, Joey D'Auria, Alicyn Packard, Melissa Hutchison, Paul Greenberg, Brent Pendergrass
8788                                                                 Lily O'Regan, Jeannettsy Enriquez Borges, Joeley Gibson, Zahra Hassan Malik, Cleo Badcock, Stuart Manning, Ali Bastian, Amanda Holt
Name: cast, Length: 345, dtype: object

CHARACTER (

 571     Angelo Spagnoletti, Cristina Cappelli, Alfredo Cerrone, Azzurra Iacone, Gianluca Colucci (Fru), Gennaro Filippone, Fabio Balsamo, Egidio Mercurio, Sebastiano Kiniger, Biagio Forestieri, Sveva Simeone, Ilenia Zanfardino, Roberta Migliucci, Claudia Tranchese
2408                                                                                                                                                                                Lee Sun-kyun, Lee Ji-eun (IU), Go Du-sim, Park Ho-san, Song Sae-byeok, Kim Young-min
3928                                                                                                                                                                     Lee Ji-eun (IU), Bae Doona, Park Hae Soo, Kim Tae-hun, Shim Dal-gi, Lee Sung-wook, Jung Jun Won
Name: cast, dtype: object

CHARACTER )

 571     Angelo Spagnoletti, Cristina Cappelli, Alfredo Cerrone, Azzurra Iacone, Gianluca Colucci (Fru), Gennaro Filippone, Fabio Balsamo, Egidio Mercurio, Sebastiano Kiniger, Biagio Forestieri, Sveva Simeone, Ilenia Zanfardino, Roberta Migliucci, Claudia Tranchese
2408                                                                                                                                                                                Lee Sun-kyun, Lee Ji-eun (IU), Go Du-sim, Park Ho-san, Song Sae-byeok, Kim Young-min
3928                                                                                                                                                                     Lee Ji-eun (IU), Bae Doona, Park Hae Soo, Kim Tae-hun, Shim Dal-gi, Lee Sung-wook, Jung Jun Won
Name: cast, dtype: object

CHARACTER *

 Series([], Name: cast, dtype: object)

CHARACTER +

 Series([], Name: cast, dtype: object)

CHARACTER ,

 1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng
2                                                                                                                                                                   Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera
4                                                                                                                                                                                                              Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar
5                                                                              Kate Siegel, Zach Gilford, Hamish Linklater, Henry Thomas, Kristin Lehman, Samantha Sloyan, Igby Rigney, Rahul Kohli, Annarah Cymone, Annabeth Gish, Alex Essoe, Rahul Abburi, Matt Biedel, Michael Trucco, Crystal Balint, Louis Oliver
6                                                                                                                                                                     Vanessa Hudgens, Kimiko Glenn, James Marsden, Sofia Carson, Liza Koshy, Ken Jeong, Elizabeth Perkins, Jane Krakowski, Michael McKean, Phil LaMarr
                                                                                                                                                             ...
8803                                                                                                                                                                                                                                                 Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, Mansoor Alfeeli, Ahd

In [33]:
### Synopsis
special_characters = ['\n', '\t', '\r', 'Ã', '£', '¥', 'â', 'x2', '&']
for character in special_characters:
    special = df[df['description'].str.contains(character, regex=False) == True]
    print(f'\nCHARACTER {character}', '\n\n', special['description'])

CHARACTER


 Series([], Name: description, dtype: object)

CHARACTER

 Series([], Name: description, dtype: object)



 Series([], Name: description, dtype: object)

CHARACTER Ã

 Series([], Name: description, dtype: object)

CHARACTER £

 Series([], Name: description, dtype: object)

CHARACTER ¥

 Series([], Name: description, dtype: object)

CHARACTER â

 Series([], Name: description, dtype: object)

CHARACTER x2

 Series([], Name: description, dtype: object)

CHARACTER &

 1874        Go backstage with French rap duo Bigflo & Oli in this intimate music documentary, then join the superstar siblings as they embark on a major tour.
1968         The street fighters of Oya High go up against the delinquent brawlers of Housen Academy in this action-packed “High & Low” and “Crows” crossover.
4100        Inspired by the movie "Thelma & Louise," three young people with Down syndrome leave the institution where they live to take a road trip together.
5726      Aardman Animations icons Wallace & Gromit, Morph and more join fans and collaborators for a retrospective celebrating the studio's 40th anniversary.
6539        Christian musician Israel Houghton leads his band Israel & New Breed on a tour supporting their newest album of multicultural, hybrid-genre songs.
7469       This uplifting documentary follows R&B singer Sharon Jones's battle with pancreatic cancer while keeping her band intact for a return to the stage.
7718        Father Richard Harrison, son Rick and grandson Corey appraise an array of strange objects brought into their Gold & Silver Pawn Shop in Las Vegas.
8476    Young lyricists between the ages of 12 and 16 compete for a chance to sign to Jermaine Dupri's label while being mentored by hip-hop and R&B's finest.
Name: description, dtype: object

<h3>La data parece estar limpia a simple vista, fundamentalmente porque no encontramos saltos de lineas ni caracteres especiales.</h3>

In [34]:
### Vamos a empezar con logica de los datos (fundamentalmente variables cuantitativas)
### Year no logicos
import numpy as np
def parse_year(year):
    try:
        year = int(year)
        return year
    except (TypeError, ValueError):
        return None
df_copy['release_year'] = df_copy['release_year'].apply(parse_year)

In [35]:
df_copy['release_year'].unique()

array([2020., 2021., 1993., 2018., 1996., 1998., 1997., 2010., 2013.,
       2017., 1975., 1978., 1983., 1987., 2012., 2001., 2014., 2002.,
       2003., 2004., 2011., 2008., 2009., 2007., 2005., 2006., 1994.,
       2015., 2019., 2016., 1982., 1989., 1990., 1991., 1999., 1986.,
       1992., 1984., 1980., 1961., 2000., 1995., 1985., 1976., 1959.,
       1988., 1981., 1972., 1964., 1945., 1954., 1979., 1958., 1956.,
       1963., 1970., 1973., 1925., 1974., 1960., 1966., 1971., 1962.,
       1969., 1977., 1967., 1968., 1965., 1946., 1942., 1955.,   nan,
       1944., 1947., 1943.])

In [36]:
### No hay años ilogicos
df_copy[(df_copy['release_year'] < 0) | (df_copy['release_year'] > 2022)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [37]:
### duration
result = df_copy[(df_copy['duration'].notnull()) & (df_copy['duration'].str.contains('min'))]
result['duration'].unique()

array(['90 min', '91 min', '125 min', '104 min', '127 min', '67 min',
       '94 min', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '110 min', '105 min', '96 min',
       '124 min', '116 min', '98 min', '23 min', '115 min', '122 min',
       '99 min', '88 min', '100 min', '102 min', '93 min', '95 min',
       '85 min', '83 min', '113 min', '13 min', '182 min', '48 min',
       '145 min', '87 min', '92 min', '80 min', '117 min', '128 min',
       '119 min', '143 min', '114 min', '118 min', '108 min', '63 min',
       '121 min', '142 min', '154 min', '120 min', '82 min', '109 min',
       '101 min', '86 min', '229 min', '76 min', '89 min', '156 min',
       '112 min', '107 min', '129 min', '135 min', '136 min', '165 min',
       '150 min', '133 min', '70 min', '84 min', '140 min', '78 min',
       '64 min', '59 min', '139 min', '69 min', '148 min', '189 min',
       '141 min', '130 min', '138 min', '81 min', '132 min', '123 min',
       '65 min', '68 min', '66 min', '62 min', '74 min', '131 min',
       '39 min', '46 min', '38 min', '126 min', '155 min', '159 min',
       '137 min', '12 min', '273 min', '36 min', '34 min', '77 min',
       '60 min', '49 min', '58 min', '72 min', '204 min', '212 min',
       '25 min', '73 min', '29 min', '47 min', '32 min', '35 min',
       '71 min', '149 min', '33 min', '15 min', '54 min', '224 min',
       '162 min', '37 min', '75 min', '79 min', '55 min', '158 min',
       '164 min', '173 min', '181 min', '185 min', '21 min', '24 min',
       '51 min', '151 min', '42 min', '22 min', '134 min', '177 min',
       '52 min', '14 min', '53 min', '8 min', '57 min', '28 min',
       '50 min', '9 min', '26 min', '45 min', '171 min', '27 min',
       '44 min', '146 min', '20 min', '157 min', '17 min', '203 min',
       '41 min', '30 min', '194 min', '233 min', '237 min', '230 min',
       '195 min', '253 min', '152 min', '190 min', '160 min', '208 min',
       '180 min', '144 min', '5 min', '174 min', '170 min', '192 min',
       '209 min', '187 min', '172 min', '16 min', '186 min', '11 min',
       '193 min', '176 min', '56 min', '169 min', '40 min', '10 min',
       '3 min', '168 min', '312 min', '153 min', '214 min', '31 min',
       '163 min', '19 min', '179 min', '43 min', '200 min', '196 min',
       '167 min', '178 min', '228 min', '18 min', '205 min', '201 min',
       '191 min'], dtype=object)

In [38]:
result['duration'] = result['duration'].apply(lambda duration: int(re.findall(r'\d+', duration)[0]))

C:\Users\tadeo\AppData\Local\Temp\ipykernel_13256\3007834597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['duration'] = result['duration'].apply(lambda duration: int(re.findall(r'\d+', duration)[0]))

In [42]:
### Hay contenidos menores a 5 min y mayores a 250
### Los que son menores a 5min por suerte no son trailers o adelantos.
### Los que son mayores a 250 son veridicos salvo Black Mirror (en IMDB muestra 1:30 de duración)
result[(result['duration'] < 8) | (result['duration'] > 250)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
717,s718,Movie,Headspace: Unwind Your Mind,NaN,"Andy Puddicombe, Evelyn Lewis Prieto, Ginger Daniels, Darren Pettie, Simon Prebble, Rhiannon Mcgavin, Kate Seftel",NaN,"June 15, 2021",2021.0,TV-G,273,[Documentaries],"Do you want to relax, meditate or sleep deeply? Personalize the experience according to your mood or mindset with this Headspace interactive special."
2491,s2492,Movie,The School of Mischief,Houssam El-Din Mustafa,"Suhair El-Babili, Adel Emam, Saeed Saleh, Younes Shalabi, Hadi El-Gayyar, Ahmad Zaki, Hassan Moustafa",[Egypt],"May 21, 2020",1973.0,TV-14,253,"[Comedies, Dramas, International Movies]",A high school teacher volunteers to transform five notorious misfits into model students — and has unintended results.
2713,s2714,Movie,Sol Levante,Akira Saitoh,NaN,[Japan],"April 2, 2020",2020.0,TV-14,5,"[Action, Adventure, Anime Features, International Movies]",A young warrior and her familiar search for the sacred place said to fulfill wishes. It's best not to anger the ancient guardians and spirits.
3777,s3778,Movie,Silent,"Limbert Fabian, Brandon Oldenburg",NaN,[United States],"June 4, 2019",2014.0,TV-Y,3,"[Children, Family Movies, Sci-Fi, Fantasy]","""Silent"" is an animated short film created by Academy Award® winning Moonbot Studios. It celebrates how storytellers, inventors, and technology work together to create cinema magic."
4253,s4254,Movie,Black Mirror: Bandersnatch,NaN,"Fionn Whitehead, Will Poulter, Craig Parkinson, Alice Lowe, Asim Chaudhry",[United States],"December 28, 2018",2018.0,TV-MA,312,"[Dramas, International Movies, Sci-Fi, Fantasy]","In 1984, a young programmer begins to question reality as he adapts a dark fantasy novel into a video game. A mind-bending tale with multiple endings."

In [149]:
df_copy = df.copy()

In [43]:
### date_added
df_copy['date_added'] = df_copy['date_added'].apply(lambda date: date.split(',') if type(date) != float else date)
df_years = df_copy[df_copy['date_added'].notnull()]

In [44]:
def get_year(date_added):
    try:
        date_added = int(date_added[1])
        return date_added
    except (IndexError, TypeError):
        print(f'Error en {date_added}')
        return None
df_years['date_added'] = df_years['date_added'].apply(get_year)

Error en ['TV-PG']

C:\Users\tadeo\AppData\Local\Temp\ipykernel_13256\3031523707.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_years['date_added'] = df_years['date_added'].apply(get_year)

In [45]:
df_years[(df_years['date_added'] > 2022) | (df_years['date_added'] < 1930)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

<h2 align="center",  style="background: salmon; color:black">Conclusiones</h2><br>
<h4>No hay datos ilogicos en las variables cuantitativas, nuevamente, creo que es necesario estandarizar los campos como duration a un solo dato de tipo integer en MINUTOS y date_added a un formato mas datetime que pueda ser manipulado por pandas.<br>

In [3]:
### Ultima etapa: duplicados
### Importamos metodos que hicimos para complementar a los de pandas
Analysis.check_id_dups(df)

 ##### DUPLICADOS POR ID: (0) #####

DUPLICADOS: NO HAY DUPLICADOS


 #######################

In [4]:
Analysis.check_title(df)

 ***** Análisis title *****

 ##### DUPLICADOS: #####

DUPLICADOS: NO HAY DUPLICADOS


 #######################

In [5]:
### Vamos a probar manualmente
df['title'] = df['title'].str.strip()
by_id = df['show_id'].duplicated().sum()
by_title = df[['title', 'type']].duplicated().sum()
print(f'Repetidos por ID: {by_id}, repetidos por titulo: {by_title}')

Repetidos por ID: 0, repetidos por titulo: 1

In [6]:
### Encontramos un duplicado, este deberia eliminarse
duplicates = df[df[['title', 'type']].duplicated(keep=False)][['show_id', 'title']].sort_values(by='title', ascending=True)
duplicates_titles = df[df[['title', 'type']].duplicated(keep=False)]
duplicates_titles

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3371,s3372,Movie,Consequences,Ozan Açıktan,"Nehir Erdoğan, Tardu Flordun, İlker Kaleli, Serkan Keskin, Esra Bezen Bilgin, Aytaç Uşun, Cem Özeren, Caner Arçkan",Turkey,"October 25, 2019",2014,TV-MA,106 min,"Dramas, International Movies, Thrillers",Secrets bubble to the surface after a sensual encounter and an unforeseen crime entangle two friends and a woman caught between them.
6529,s6530,Movie,Consequences,Ozan Açıktan,"Nehir Erdoğan, Tardu Flordun, İlker Kaleli, Serkan Keskin, Esra Bezen Bilgin, Aytaç Uşun, Cem Özeren, Caner Arçkan",Turkey,"October 25, 2019",2014,TV-MA,106 min,"Dramas, International Movies, Thrillers",Secrets bubble to the surface after a sensual encounter and an unforeseen crime entangle two friends and a woman caught between them.

<h1>DONE</h1>